In [1]:
import builtins
builtins.uclresearch_topic = 'GIVENCHY' # 226984 entires
# builtins.uclresearch_topic = 'HAWKING' # 4828104 entries
# builtins.uclresearch_topic = 'NYC'
# builtins.uclresearch_topic = 'FLORIDA'
from configuration import config
import numpy as np
import pandas as pd
import pickle
import os
import os.path
import math
import sys
import csv
import matplotlib.pyplot as plt
from sklearn.externals import joblib
import scipy.integrate as spi
import pylab as pl
import datetime as dt
from datetime import timezone
from datetime import timedelta
import networkx as nx
from tqdm import tqdm
import pandas as pd
import numpy as np
import math
import multiprocessing
from multiprocessing import Pool
from IPython.display import display

('Reading config file from location: '
 '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/configuration/env.properties')
{'calculate': {'analysis': True,
               'network': True,
               'uniquetweets': True,
               'uniqueusers': True},
 'data': {'dates': ['2018-03-11', '2018-03-12', '2018-03-13'],
          'eventname': "Givenchy's Death",
          'phrases': ['givenchy%20death', 'givenchy%20passed%20away'],
          'starttime': 'Mar 12 08:20:00 -0500 2018'},
 'path': {'crawl': {'followers': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/followers',
                    'friends': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/friends'},
          'cwd': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy',
          'ml': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle',
          'networkx': {'all': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/networkx_all.dat',
                       'friends': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/networkx_friends.dat',
                       'potential': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/networkx_potential.dat'},
          'pickle': {'exposed_user_ids_selected': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/exposed_user_ids_selected.dat',
                     'followers': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/followers.dat',
                     'followersneedcrawl': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/followersneedcrawl.dat',
                     'friends': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/friends.dat',
                     'infected_user_ids': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/infected_user_ids.dat',
                     'needcrawl': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/needcrawl.dat',
                     'network': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/network.dat',
                     'tweets': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/tweets.dat',
                     'users': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/users.dat'},
          'result': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/result',
          'twitter': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/twitter'},
 'save_to_file': 'False',
 'timeframe': '1440'}

In [2]:
n_bytes = 2**31
max_bytes = 2**31 - 1

path = "/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/Data/"

def write_to_pickle(file_path, data):

    bytes_out = pickle.dumps(data)
    with open(file_path, 'wb') as f_out:
        for idx in range(0, n_bytes, max_bytes):
            f_out.write(bytes_out[idx:idx+max_bytes])

def load_pickle(file_path):
    bytes_in = bytearray(0)
    input_size = os.path.getsize(file_path)
    with open(file_path, 'rb') as f_in:
        for _ in range(0, input_size, max_bytes):
            bytes_in += f_in.read(max_bytes)
    
    return pickle.loads(bytes_in)

In [281]:
unique_users = load_pickle(path+"80000users_2.pkl")
unique_users.head()

,contributors_enabled,created_at,description,favourites_count,followers_count,followers_json,friends_count,friends_json,geo_enabled,id,...,listed_count,location,name,protected,screen_name,statuses_count,url,verified,source_candidates,target_nodes
0,0,2010-11-11 03:59:09,,548,2090,None,46,None,1,214328887,...,65,,солнечная,1,xsolnechnaya,201,None,0,"[105, 62, 147, 148, 42, 124, 32, 10, 96, 18, 1...","[34428380, 56860418, 157829215, 158419434, 149..."
1,0,2009-04-22 22:44:05,https://t.co/XA34weUL7o Join Now for Exclusive...,38,305257,None,181,None,1,34428380,...,4929,"Nashville, TN",JERMbeats,0,schzimmydeanie,5695,https://t.co/XA34weUL7o,1,"[0, 12, 11, 110, 33, 118, 167, 78, 18, 74, 90,...","[31331740, 21548772, 17759158, 17868918, 40981..."
2,0,2008-11-02 17:07:55,Paramore Spain. primera web en español sobre P...,31,11756,None,498,None,0,17116707,...,93,España,ParamoreSpain,0,paramorespain,5124,https://t.co/s40bqOYO0F,0,"[18, 56, 52, 111, 153, 97, 38, 35, 31, 169, 20...","[28465635, 231238695, 121533789, 86221475, 808..."
3,0,2009-04-03 01:03:15,A maior fonte de informações sobre a banda Par...,4449,57992,None,1482,"[823625606705410052, 62089415, 976610561126490...",1,28465635,...,894,Brasil,Paramore Brasil,0,paramorebrasil,35499,https://t.co/0prUO4vpzM,0,"[2, 111, 36, 158, 83, 118, 179, 148, 65, 130, ...","[30971165, 297801196, 259842341, 123371682, 19..."
4,0,2011-09-26 21:58:16,Your Swedish/worldwide source of everything Pa...,1968,15033,None,219,None,1,380580781,...,45,Sweden / Worldwide,🙃 Paramore Sweden 🇸🇪,0,SWEparamore,20720,None,0,"[18, 96, 35, 0, 66, 32, 156, 75, 55, 54, 25, 4...","[18996905, 400689940, 31331740, 19358562, 2043..."

In [282]:
unique_users=unique_users.drop(['contributors_enabled','description','location','screen_name','name','url','verified',
                                'protected','lang','geo_enabled','friends_json','followers_json'
                               ],axis=1)

In [283]:
a=unique_users[unique_users.created_at.isin(['0000-00-00 00:00:00'])].index.values
unique_users.loc[a,'created_at']='2010-11-11 03:59:09'

In [284]:
start_timestamp = dt.datetime.strptime(config.settings['data']['starttime'], '%b %d %H:%M:%S %z %Y')

def convert_utc_to_est(time_string):
    datetime_object = dt.datetime.strptime(time_string, '%Y-%m-%d %H:%M:%S')
    return datetime_object.replace(tzinfo=timezone.utc).astimezone(tz=timezone(-timedelta(hours=5)))


def get_user_created_days(created_at):
    delta_time = start_timestamp - convert_utc_to_est(str(created_at))
    return max(delta_time.days, 0)+1

In [285]:
unique_users = unique_users.rename(columns={'id': 'user_id'})
unique_users = unique_users.rename(columns={'statuses_count': 'user_statuses_count'})
unique_users = unique_users.rename(columns={'favourites_count': 'user_favourites_count'})
unique_users = unique_users.rename(columns={'listed_count': 'user_listed_count'})

In [286]:
unique_users['user_created_days'] = list(map(lambda created_at: get_user_created_days(created_at), unique_users.created_at))
unique_users['normalized_user_statuses_count'] = np.divide(unique_users.user_statuses_count, unique_users.user_created_days)
unique_users['normalized_user_followers_count'] = np.divide(unique_users.followers_count, unique_users.user_created_days)
unique_users['normalized_user_favourites_count'] = np.divide(unique_users.user_favourites_count, unique_users.user_created_days)
unique_users['normalized_user_listed_count'] = np.divide(unique_users.user_listed_count, unique_users.user_created_days)
unique_users['normalized_user_friends_count'] = np.divide(unique_users.friends_count, unique_users.user_created_days)

In [291]:
unique_users.to_csv(path+'70013users.csv',index=False)

In [288]:
unique_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 15 columns):
created_at                          70013 non-null object
user_favourites_count               70013 non-null int64
followers_count                     70013 non-null int64
friends_count                       70013 non-null int64
user_id                             70013 non-null int64
user_listed_count                   70013 non-null int64
user_statuses_count                 70013 non-null int64
source_candidates                   70013 non-null object
target_nodes                        70013 non-null object
user_created_days                   70013 non-null int64
normalized_user_statuses_count      70013 non-null float64
normalized_user_followers_count     70013 non-null float64
normalized_user_favourites_count    70013 non-null float64
normalized_user_listed_count        70013 non-null float64
normalized_user_friends_count       70013 non-null float64
dtypes: float64(5), int64(7), object(3)
memory usage: 8.0+ MB

In [292]:
df = pd.read_csv(path+'70013users.csv')

In [293]:
df

,created_at,user_favourites_count,followers_count,friends_count,user_id,user_listed_count,user_statuses_count,source_candidates,target_nodes,user_created_days,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count
0,2010-11-11 03:59:09,548,2090,46,214328887,65,201,"[105, 62, 147, 148, 42, 124, 32, 10, 96, 18, 1...","[34428380, 56860418, 157829215, 158419434, 149...",2679,0.075028,0.780142,0.204554,0.024263,0.017171
1,2009-04-22 22:44:05,38,305257,181,34428380,4929,5695,"[0, 12, 11, 110, 33, 118, 167, 78, 18, 74, 90,...","[31331740, 21548772, 17759158, 17868918, 40981...",3246,1.754467,94.040974,0.011707,1.518484,0.055761
2,2008-11-02 17:07:55,31,11756,498,17116707,93,5124,"[18, 56, 52, 111, 153, 97, 38, 35, 31, 169, 20...","[28465635, 231238695, 121533789, 86221475, 808...",3417,1.499561,3.440445,0.009072,0.027217,0.145742
3,2009-04-03 01:03:15,4449,57992,1482,28465635,894,35499,"[2, 111, 36, 158, 83, 118, 179, 148, 65, 130, ...","[30971165, 297801196, 259842341, 123371682, 19...",3266,10.869259,17.756277,1.362217,0.273729,0.453766
4,2011-09-26 21:58:16,1968,15033,219,380580781,45,20720,"[18, 96, 35, 0, 66, 32, 156, 75, 55, 54, 25, 4...","[18996905, 400689940, 31331740, 19358562, 2043...",2359,8.783383,6.372616,0.834252,0.019076,0.092836
5,2009-01-14 21:32:04,2158,284075,68,18996905,1934,14602,"[4, 64, 42, 173, 66, 155, 153, 112, 43, 156, 2...","[15023872, 18951737, 17868918, 34428380, 22462...",3344,4.366627,84.950658,0.645335,0.578349,0.020335
6,2010-11-29 15:23:21,309,2121,206,221036078,12,6933,"[148, 8, 83, 68, 46, 0, 124, 113, 116, 33, 31,...","[153460275, 22462180, 196327549, 117674417, 29...",2660,2.606391,0.797368,0.116165,0.004511,0.077444
7,2010-06-08 16:33:07,74,4710,35,153460275,49,807,"[6, 115, 31, 23, 82, 62, 44, 18, 20, 173, 14, ...","[43003845, 19493072, 22462180, 34428380, 15133...",2834,0.284757,1.661962,0.026112,0.017290,0.012350
8,2010-01-23 22:17:51,350,11627,934,107830991,63,3021,"[10, 61, 35, 28, 41, 56, 52, 3, 49, 113, 69, 9...","[17868918, 40981798, 100581193, 461410856, 274...",2970,1.017172,3.914815,0.117845,0.021212,0.314478
9,2008-12-04 14:49:42,9,16996,552,17868918,238,4153,"[8, 87, 123, 20, 37, 16, 66, 95, 80, 111, 69, ...","[31331740, 8088112, 117674417, 17759158, 40981...",3385,1.226883,5.020975,0.002659,0.070310,0.163072
10,2010-06-03 05:06:52,3588,41712,198,151338729,521,28375,"[28, 50, 54, 112, 36, 20, 73, 71, 173, 69, 18,...","[222261763, 187773078, 15023872, 107830991, 67...",2840,9.991197,14.687324,1.263380,0.183451,0.069718
11,2010-12-02 22:26:54,140,5399,512,222261763,11,6187,"[10, 84, 75, 23, 31, 137, 2, 74, 20, 105, 88, ...","[88323281, 27633075, 31331740, 307458983, 2991...",2657,2.328566,2.031991,0.052691,0.004140,0.192699
12,2009-01-29 10:52:20,7119,669869,600,19705747,4741,41876,"[159, 62, 3, 61, 82, 87, 193, 146, 33, 165, 80...","[34428380, 31331740, 43003845, 40981798, 22462...",3330,12.575375,201.161862,2.137838,1.423724,0.180180
13,2009-11-08 01:52:32,1300,20883,834,88323281,1638,3918,"[11, 24, 32, 154, 20, 135, 174, 97, 73, 108, 3...","[239144776, 333161611, 358775055, 34428380, 22...",3047,1.285855,6.853627,0.426649,0.537578,0.273712
14,2009-02-02 21:15:09,24,652,120,19933035,13,3755,"[61, 36, 137, 31, 20, 52, 95, 18495, 18444, 17...","[149538028, 121533789, 117674417, 270449528, 2...",3325,1.129323,0.196090,0.007218,0.003910,0.036090
15,2010-05-29 15:03:35,630,17797,255,149538028,334,14109,"[14, 86, 49, 112, 61, 47, 41, 102, 70, 123, 0,...","[153226312, 69592091, 72818790, 358775055, 839...",2844,4.960970,6.257736,0.221519,0.117440,0.089662
16,2010-06-22 16:57:06,503,14488,3531,158419434,158,45088,"[83, 107, 0, 146, 42, 15, 37, 41, 62, 25, 10, ...","[17434613, 17675120, 157829215, 121533789, 178...",2820,15.988652,5.137589,0.178369,0.056028,1.252128
17,2008-11-17 04:37:27,2110,57400,212,17434613,1424,25245,"[16, 78, 131, 42, 109, 133, 110, 147, 45, 30, ...","[22462180, 28019653, 40981798, 15150609, 31331...",3403,7.418454,16.867470,0.620041,0.418454,0.062298
18,2010-06-08 00:46:14,941,13085,28,153226312,100,6954,"[15, 19, 60, 117, 74, 47, 53, 43, 135, 49, 8, ...","[187773078, 17116707, 380580781, 430268163, 21...",2835,2.452910,4.615520,0.331922,0.035273,0.009877
19,2011-08-30 17:09:00,628,537,252,364971269,17,36605,"[42, 109, 110, 158, 95, 4149, 18907, 4133, 184...","[153226312, 314316607, 239144776, 226629405, 3...",2386,15.341576,0.225063,0.263202,0.007125,0.105616
20,2009-12-30 19:52:44,109,3444,11,100581193,18,6324,"[31, 70, 41, 36, 8, 33, 87, 140, 147, 100, 18,...","[358775055, 280935165, 187773078, 297801196, 2...",2994,2.112224,1.150301,0.036406,0.006012,0.003674
21,2009-08-28 13:50:15,17894,40064,967,69592091,488,58248,"[61, 28, 79, 41, 105, 56, 127, 15, 27, 155, 20...","[26929220, 123371682, 204140367, 195475105, 25...",3118,18.681206,12.849262,5.738935,0.156511,0.310135
22,2010-09-07 03:09:38,728,10803,182,187773078,209,45369,"[10, 18, 20, 78, 49, 41, 96, 61, 25, 23, 4, 70...","[133055665, 220368467, 103598216, 40981798, 31...",2744,16.533892,3.936953,0.265306,0.076166,0.066327
23,2011-11-06 23:51:52,208,3616,268,406628822,12,5869,"[135, 21, 10, 18, 20, 37, 87, 137, 54, 68, 0, ...","[43003845, 225444667, 133055665, 56860418, 222...",2318,2.531924,1.559965,0.089733,0.005177,0.115617
24,2012-01-10 15:53:33,10,237,68,460282402,7,1650,"[138, 16, 108, 31, 42, 19, 85, 4133, 34128, 18...","[88323281, 258140947, 22462180, 439788025, 409...",2253,0.732357,0.105193,0.004439,0.003107,0.030182
25,2011-04-12 09:29:43,218,32706,124,280935165,132,21513,"[20, 96, 18, 58, 111, 156, 69, 90, 59, 38, 76,...","[437804658, 307458983, 220368467, 133055665, 2...",2527,8.513257,12.942620,0.086268,0.052236,0.049070
26,2011-12-15 21:16:51,6,1627,328,437804658,2,13066,"[25, 68, 124, 88, 76, 77, 18, 41, 100, 165, 32...","[31331740, 34428380, 463952369, 358775055, 808...",2279,5.733216,0.713910,0.002633,0.000878,0.143923
27,2009-03-30 13:12:27,80,29557,233,27633075,254,6343,"[11, 88, 136, 96, 53, 42, 154, 130, 10, 23, 33...","[69592091, 8088112, 121533789, 83943787, 26144...",3270,1.939755,9.038838,0.024465,0.077676,0.071254
28,2011-04-20 22:54:03,2,3700,59,285312927,12,995,"[23, 41, 135, 165, 68, 123, 105, 111, 147, 14,...","[151338729, 69592091, 107830991, 8088112, 2692...",2518,0.395155,1.469420,0.000794,0.004766,0.023431
29,2010-04-10 20:16:46,13,11273,134,131613362,57,3730,"[49, 88, 66, 54, 114, 173, 20, 58, 84, 28, 55,...","[276577539, 133055665, 254839786, 31331740, 46...",2893,1.289319,3.896647,0.004494,0.019703,0.046319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69983,2010-07-10 19:17:30,150,281,719,165153568,47,26620,[35068],"[21068395, 40981798, 336218834, 34428380, 4300...",2802,9.500357,0.100286,0.053533,0.016774,0.256602
69984,2009-07-25 02:20:32,903,445,273,59953940,9,29664,[],"[21068395, 40981798, 44473103, 43003845, 17916...",3153,9.408183,0.141135,0.286394,0.002854,0.086584
69985,2009-07-12 23:30:09,52,163,280,56222976,33,9203,[],"[142875215, 44473103, 179167773, 124563980, 31...",3165,2.907741,0.051501,0.016430,0.010427,0.088468
69986,2010-07-02 21:46:21,5100,355,172,162157731,1,40274,[70004],"[124563980, 362077620, 152011250]",2810,14.332384,0.126335,1.814947,0.000356,0.061210
69987,2010-06-04 21:05:27,105,193,7,152011250,4,5971,"[69986, 70004]","[134894667, 39689218, 21068395, 56783491, 1245...",2838,2.103946,0.068006,0.036998,0.001409,0.002467
69988,2010-04-19 19:19:24,0,121,220,134894667,7,7345,[69987],[],2884,2.546810,0.041956,0.000000,0.002427,0.076283
69989,2009-04-01 01:18:57,5871,997,288,28016093,25,25546,[],"[100318079, 44473103, 179167773, 40981798, 178...",3268,7.817013,0.305080,1.796512,0.007650,0.088127
69990,2010-04-27 18:25:33,83,1353,178,137772184,6,11844,[],"[310687757, 100318079, 40981798, 34428380, 195...",2876,4.118220,0.470445,0.028860,0.002086,0.061892
69991,2011-07-15 23:00:32,7,202,199,336218834,0,8733,[69983],"[34428380, 43003845, 117674417, 124563980, 196...",2432,3.590872,0.083059,0.002878,0.000000,0.081826
69992,2010-05-20 22:48:26,172,1709,234,146229554,6,46595,[],"[44312605, 63784655, 281765007]",2853,16.331931,0.599019,0.060287,0.002103,0.082019
69993,2011-01-21 00:20:38,559,527,194,240895600,17,21840,[],"[63135128, 281765007, 238250804, 44312605]",2608,8.374233,0.202071,0.214340,0.006518,0.074387
69994,2009-06-20 15:50:51,332,175,94,49037471,9,29129,[],"[179167773, 46941766, 44473103, 142875215]",3187,9.139944,0.054911,0.104173,0.002824,0.029495
69995,2010-08-16 17:34:20,987,713,543,179167773,24,75641,"[69994, 16989, 69985, 69989, 69984]","[44473103, 142875215, 178852084]",2765,27.356600,0.257866,0.356962,0.008680,0.196383
69996,2011-02-11 17:58:03,105,184,271,250733287,5,23173,[],"[281765007, 21068395, 19409458]",2586,8.960944,0.071152,0.040603,0.001933,0.104795
69997,2011-04-13 22:52:21,1,18654,152,281765007,42,13325,"[69996, 69993, 70009, 70003, 69992]","[44312605, 63135128]",2525,5.277228,7.387723,0.000396,0.016634,0.060198
69998,2010-05-31 16:50:19,74,2447,378,150319193,0,27701,"[69985, 69982]","[310687757, 196429355, 39689218, 21068395]",2842,9.747009,0.861013,0.026038,0.000000,0.133005
69999,2010-11-22 21:50:50,3194,734,384,218640513,162,103934,"[69982, 70004]","[44312605, 362077620, 44473103]",2667,38.970379,0.275216,1.197600,0.060742,0.143982
70000,2009-07-30 14:13:43,2974,845,1011,61497784,23,32466,[],"[43003845, 40981798, 48108211, 22462180, 31068...",3147,10.316492,0.268510,0.945027,0.007309,0.321258
70001,2009-08-05 13:42:10,4405,320353,1444,63135128,827,29069,"[69981, 69993, 48381, 70002, 69997]",[19409458],3141,9.254696,101.990767,1.402420,0.263292,0.459726
70002,2010-10-24 01:56:55,39,103,191,206918348,33,20442,[],"[100318079, 22462180, 63135128, 148062502]",2697,7.579533,0.038191,0.014461,0.012236,0.070819
70003,2009-11-30 14:34:34,3157,359,680,93641182,146,75980,[35068],"[46941766, 21068395, 238250804, 44312605, 2535...",3024,25.125661,0.118717,1.043981,0.048280,0.224868
70004,2009-07-05 01:54:52,42,454,361,53811382,258,34220,[],"[162157731, 124563980, 362077620, 152011250, 5...",3173,10.784746,0.143082,0.013237,0.081311,0.113772
70005,2009-06-17 20:43:43,2,319075,308,48108211,2134,3278,[70000],[],3190,1.027586,100.023511,0.000627,0.668966,0.096552
70006,2011-08-25 20:25:44,366,453,104,362077620,3,58419,"[69986, 69999, 70004]","[19409458, 124563980, 238260874, 44473103, 430...",2391,24.432873,0.189460,0.153074,0.001255,0.043496
70007,2010-07-11 19:04:26,397,346,50,165498547,156,11526,[],"[44473103, 196429355]",2801,4.114959,0.123527,0.141735,0.055694,0.017851
70008,2011-02-17 11:35:55,9469,1028,571,253509115,176,106839,"[70003, 57826]",[21068395],2581,41.394421,0.398295,3.668733,0.068191,0.221232
70009,2009-08-07 17:46:14,3181,427,336,63784655,42,27074,[69992],"[44312605, 281765007, 21068395]",3139,8.625040,0.136031,1.013380,0.013380,0.107040
70010,2009-08-06 18:42:21,2170,432,106,63503127,124,103166,[],"[22462180, 21068395, 34428380, 43003845, 40981...",3140,32.855414,0.137580,0.691083,0.039490,0.033758
70011,2009-09-20 17:15:38,484,448,479,75829996,0,22950,[69991],"[43003845, 124563980, 21068395]",3095,7.415186,0.144750,0.156381,0.000000,0.154766
70012,2010-05-27 01:16:43,12,161,59,148563360,3,26536,[70004],[],2847,9.320688,0.056551,0.004215,0.001054,0.020724

In [197]:
write_to_pickle(path+'/80000users_3.pkl', unique_users)

In [198]:
sf = load_pickle('Stanford_features.pkl')

## Creating a graph from edgelist and then finding avg neighbour degree of nodes

In [43]:
G=nx.read_edgelist(path+"final_stanford_edgelist.csv",delimiter = ",",nodetype=int)

In [35]:
J=nx.read_edgelist(path+"final_stanford_edgelist.csv",create_using=nx.DiGraph(),delimiter = ",",nodetype=int)

In [44]:
G.number_of_nodes()

69734

In [45]:
G.number_of_edges()

1092287

In [46]:
edges = list(G.edges())

In [47]:
for i in edges:
    if i[0] == 36659758 or i[1] == 36659758:
        print(f"i:{i}")

i:(23828885, 36659758)
i:(34707065, 36659758)
i:(28147425, 36659758)
i:(55017958, 36659758)
i:(42495702, 36659758)
i:(41267619, 36659758)
i:(15515673, 36659758)
i:(34604820, 36659758)
i:(20337511, 36659758)
i:(43979384, 36659758)
i:(4003351, 36659758)
i:(44524453, 36659758)
i:(90919384, 36659758)
i:(27123742, 36659758)
i:(36659758, 73876706)
i:(36659758, 232383098)
i:(36659758, 15165411)
i:(36659758, 97218252)
i:(36659758, 18080534)
i:(36659758, 253823543)
i:(36659758, 21225900)

In [42]:
edgelist[(edgelist['Target'] == 36659758) | (edgelist['Source'] == 36659758)]

           Source    Target
513436   23828885  36659758
785450   73876706  36659758
785487   55017958  36659758
785504  232383098  36659758
785623   41267619  36659758
785658   44524453  36659758
785671   90919384  36659758
785709   34604820  36659758
785725   43979384  36659758
785762    4003351  36659758
785791   15165411  36659758
785817   36659758  28147425
785818   36659758  42495702
785819   36659758  34707065
785853   15515673  36659758
785899   97218252  36659758
785907   18080534  36659758
785944   27123742  36659758
785991   20337511  36659758
786063  253823543  36659758
786147   21225900  36659758

In [24]:
edgelist = pd.read_csv(path+"final_stanford_edgelist.csv",names=['Source','Target'],header=None)

In [25]:
edgelist[edgelist['Source'] == 36659758]

          Source    Target
785817  36659758  28147425
785818  36659758  42495702
785819  36659758  34707065

In [13]:
edgelist1 = pd.read_csv(path+"final_stanford_edgelist.csv")

In [15]:
G = nx.DiGraph(data=edgelist1)

In [277]:
edgelist['Source'].unique()

62506

In [300]:
filtered_users = pd.read_csv(path+'filtered_70013users.csv')

In [301]:
seeds = filtered_users.iloc[0:10,:]

In [302]:
seeds.to_csv(path+'top_10_avg_neigh_degree_seeds.csv')

In [303]:
seeds

,created_at,user_favourites_count,followers_count,friends_count,user_id,user_listed_count,user_statuses_count,source_candidates,target_nodes,user_created_days,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count,avg_neighbour_degree
0,2009-04-26 23:49:25,0,9,22,35604056,0,0,[],[3359851],3242,0.000000,0.002776,0.000000,0.000000,0.006786,853.0
1,2010-11-17 20:55:07,0,7,20,216829577,0,65,[],"[59804598, 3359851]",2672,0.024326,0.002620,0.000000,0.000000,0.007485,843.0
2,2009-02-04 09:21:27,3669,5216,978,20039736,146,88227,[1238],[59804598],3324,26.542419,1.569194,1.103791,0.043923,0.294224,833.0
3,2011-10-07 08:28:59,20,641,165,386428938,12,456,"[24332, 525]","[59804598, 5442012]",2349,0.194125,0.272882,0.008514,0.005109,0.070243,752.0
4,2009-03-12 06:35:50,2316,185972,2567,23912766,688,6088,"[66249, 66250, 66243, 6327]",[813286],3288,1.851582,56.560827,0.704380,0.209246,0.780718,715.0
5,2009-10-08 15:31:01,3,102,54,80873238,0,259,"[3409, 3388, 9016]",[18581803],3077,0.084173,0.033149,0.000975,0.000000,0.017550,683.0
6,2009-03-14 23:01:51,0,74388,18684,24446042,4137,6655,"[43877, 1124, 43876, 1106, 1056, 43862, 43868,...",[5442012],3285,2.025875,22.644749,0.000000,1.259361,5.687671,671.0
7,2009-02-23 00:24:44,55,112,253,21614972,8,466,[],[15846407],3305,0.140998,0.033888,0.016641,0.002421,0.076551,595.0
8,2009-03-12 01:13:58,421,281,665,23867268,10,9669,[],"[42361118, 3359851]",3288,2.940693,0.085462,0.128041,0.003041,0.202251,514.5
9,2009-10-13 17:37:40,240,23143,34,82146778,589,530,"[13385, 61266, 61246, 3325, 61242, 1275, 13142...",[22679419],3072,0.172526,7.533529,0.078125,0.191732,0.011068,514.0