In [33]:
#%cd ..

import builtins
builtins.uclresearch_topic = 'GIVENCHY' # 226984 entires
# builtins.uclresearch_topic = 'HAWKING' # 4828104 entries
# builtins.uclresearch_topic = 'NYC'
# builtins.uclresearch_topic = 'FLORIDA'
from configuration import config

import smtplib
import base64
from email.mime.text import MIMEText
from email.header import Header
from email.mime.multipart import MIMEMultipart
from email.mime.image import MIMEImage
from email.utils import COMMASPACE
import numpy as np
import pandas as pd
import pickle
import xgboost as xgb
import os
import os.path
import math
import sys
import csv
import matplotlib.pyplot as plt
from sklearn.externals import joblib
import scipy.integrate as spi
import pylab as pl
import networkx as nx
from tqdm import tqdm
import multiprocessing
from multiprocessing import Pool
from IPython.display import display
import json

In [3]:
n_bytes = 2**31
max_bytes = 2**31 - 1

#path = "/home/ec2-user/May/data/givenchy/pickle" 

path = "/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/Data/"

def write_to_pickle(file_path, data):

    bytes_out = pickle.dumps(data)
    with open(file_path, 'wb') as f_out:
        for idx in range(0, n_bytes, max_bytes):
            f_out.write(bytes_out[idx:idx+max_bytes])

def load_pickle(file_path):
    bytes_in = bytearray(0)
    input_size = os.path.getsize(file_path)
    with open(file_path, 'rb') as f_in:
        for _ in range(0, input_size, max_bytes):
            bytes_in += f_in.read(max_bytes)
    return pickle.loads(bytes_in)

def loadModel(self):
    read_file = "data/" + self.model_name + ".dat"
    self.model = joblib.load(read_file)
    return self.model

# Load data

In [4]:
model = joblib.load(path+"/xgb_model_GIVENCHY (2).dat")
unique_users = pd.read_csv(path+"/70013users_final.csv")
network = pd.read_csv(path+"/70013users_final.csv")
users=load_pickle(path+'/Stanford_features.pkl')
#seeds = pd.read_csv(path+'/top_5_avg_neigh_degree_seeds.csv')

In [42]:
filtered_users = pd.read_csv(path+'filtered_70013users.csv')

In [43]:
filtered_users

,created_at,user_favourites_count,followers_count,friends_count,user_id,user_listed_count,user_statuses_count,source_candidates,target_nodes,user_created_days,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count,avg_neighbour_degree
0,2009-04-26 23:49:25,0,9,22,35604056,0,0,[],[3359851],3242,0.000000,0.002776,0.000000,0.000000,0.006786,853.000000
1,2010-11-17 20:55:07,0,7,20,216829577,0,65,[],"[59804598, 3359851]",2672,0.024326,0.002620,0.000000,0.000000,0.007485,843.000000
2,2009-02-04 09:21:27,3669,5216,978,20039736,146,88227,[1238],[59804598],3324,26.542419,1.569194,1.103791,0.043923,0.294224,833.000000
3,2011-10-07 08:28:59,20,641,165,386428938,12,456,"[24332, 525]","[59804598, 5442012]",2349,0.194125,0.272882,0.008514,0.005109,0.070243,752.000000
4,2009-03-12 06:35:50,2316,185972,2567,23912766,688,6088,"[66249, 66250, 66243, 6327]",[813286],3288,1.851582,56.560827,0.704380,0.209246,0.780718,715.000000
5,2009-10-08 15:31:01,3,102,54,80873238,0,259,"[3409, 3388, 9016]",[18581803],3077,0.084173,0.033149,0.000975,0.000000,0.017550,683.000000
6,2009-03-14 23:01:51,0,74388,18684,24446042,4137,6655,"[43877, 1124, 43876, 1106, 1056, 43862, 43868,...",[5442012],3285,2.025875,22.644749,0.000000,1.259361,5.687671,671.000000
7,2009-02-23 00:24:44,55,112,253,21614972,8,466,[],[15846407],3305,0.140998,0.033888,0.016641,0.002421,0.076551,595.000000
8,2009-03-12 01:13:58,421,281,665,23867268,10,9669,[],"[42361118, 3359851]",3288,2.940693,0.085462,0.128041,0.003041,0.202251,514.500000
9,2009-10-13 17:37:40,240,23143,34,82146778,589,530,"[13385, 61266, 61246, 3325, 61242, 1275, 13142...",[22679419],3072,0.172526,7.533529,0.078125,0.191732,0.011068,514.000000
10,2010-09-26 19:02:35,382,279,96,195453539,2,3759,"[37565, 37572]","[3359851, 141021153]",2724,1.379956,0.102423,0.140235,0.000734,0.035242,506.000000
11,2008-04-19 11:57:34,86,13127,1300,14442585,365,1975,"[17182, 17130, 17242, 17206]",[13348],3615,0.546335,3.631259,0.023790,0.100968,0.359613,504.000000
12,2010-06-03 14:31:31,5663,8504,105,151488420,24,87551,[31686],"[59804598, 204089551]",2839,30.838676,2.995421,1.994716,0.008454,0.036985,503.500000
13,2009-03-07 17:39:27,2916,34420,3506,23214487,570,8723,[],"[15846407, 17093617]",3292,2.649757,10.455650,0.885784,0.173147,1.065006,502.000000
14,2009-01-15 00:40:09,204,1570,321,19003859,24,3270,"[4040, 50748, 50763, 25771, 26593, 33956]","[16464746, 3359851]",3344,0.977871,0.469498,0.061005,0.007177,0.095993,481.000000
15,2012-02-24 13:20:57,364,96,346,501771404,2,3042,[],[18776017],2208,1.377717,0.043478,0.164855,0.000906,0.156703,480.000000
16,2009-06-12 00:29:01,27,123,157,46533358,2,172,[],"[3359851, 18927441]",3196,0.053817,0.038486,0.008448,0.000626,0.049124,479.000000
17,2008-07-14 16:23:51,932,2156,437,15428548,97,2125,"[22262, 876, 22264, 22284]","[15439395, 813286]",3528,0.602324,0.611111,0.264172,0.027494,0.123866,467.000000
18,2009-04-24 06:02:36,174,59,121,34863102,0,533,"[9689, 69882, 23135, 2416]","[17722816, 3359851]",3245,0.164253,0.018182,0.053621,0.000000,0.037288,466.500000
19,2008-10-13 09:58:28,28,103,374,16718895,4,1625,[],"[26280712, 59804598, 3359851, 34771668]",3438,0.472659,0.029959,0.008144,0.001163,0.108784,462.750000
20,2011-03-14 14:04:53,3646,1183,861,266012079,13,10701,"[43954, 31686, 47179]","[3359851, 63485337]",2555,4.188258,0.463014,1.427006,0.005088,0.336986,461.500000
21,2009-03-18 18:10:12,2927,32194,848,25119726,769,10676,[],"[15846407, 813286, 15864446, 22679419]",3281,3.253886,9.812252,0.892106,0.234380,0.258458,459.500000
22,2009-03-01 19:13:35,616,2642,2245,22393572,46,2658,[39445],"[813286, 972651]",3298,0.805943,0.801092,0.186780,0.013948,0.680716,459.000000
23,2011-03-12 18:57:14,35,57,174,264953488,0,1329,[],"[17663756, 3359851]",2557,0.519750,0.022292,0.013688,0.000000,0.068048,455.500000
24,2008-05-01 17:40:14,1865,941,562,14617012,68,22519,[],"[59804598, 14270527]",3602,6.251805,0.261244,0.517768,0.018878,0.156024,454.000000
25,2007-06-27 21:27:22,447,715,1834,7118702,29,7361,[],"[59804598, 7861312]",3911,1.882127,0.182818,0.114293,0.007415,0.468934,453.000000
26,2011-11-17 01:16:32,0,223,380,414417489,4,295,[],"[3359851, 37066863]",2308,0.127816,0.096620,0.000000,0.001733,0.164645,444.500000
27,2009-08-18 05:38:01,1,3,53,66607538,0,6,[],"[19084990, 3359851]",3129,0.001918,0.000959,0.000320,0.000000,0.016938,443.000000
28,2011-05-12 17:17:32,1727,7533,3758,297527427,194,9025,[],"[139162440, 813286]",2496,3.615785,3.018029,0.691907,0.077724,1.505609,442.000000
29,2009-03-13 12:39:09,143,87,120,24163983,7,474,[],"[813286, 14348594]",3287,0.144204,0.026468,0.043505,0.002130,0.036507,441.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20136,2011-03-04 01:58:32,1921,851,1119,260530179,19,3718,[],"[40399652, 48521372, 19824381, 116470549]",2566,1.448948,0.331645,0.748636,0.007405,0.436087,1.750000
20137,2009-06-09 18:58:00,2110,6819,628,45911118,298,9551,"[1893, 68811, 68813, 68866]","[21731168, 14424445, 4523471]",3198,2.986554,2.132270,0.659787,0.093183,0.196373,1.666667
20138,2009-02-25 17:37:11,13,4056,4425,21891867,56,4726,"[35873, 35874, 35880, 35881, 35890, 35892, 358...","[40796059, 14326788, 46714893, 7583152, 192922...",3302,1.431254,1.228346,0.003937,0.016959,1.340097,1.659091
20139,2008-03-16 02:31:57,26,372,1334,14155827,13,560,[32010],"[21212823, 14075928, 883761, 16303106, 6258196...",3649,0.153467,0.101946,0.007125,0.003563,0.365580,1.625000
20140,2009-06-12 14:30:15,3913,19939,652,46662450,278,28931,"[62357, 62338]","[18999830, 20812193, 20172983, 21258217, 15519...",3195,9.055086,6.240689,1.224726,0.087011,0.204069,1.600000
20141,2010-03-17 23:43:25,8,129791,81,124011390,2132,1452,"[42027, 62939, 62964]","[22940219, 30239306, 163712811, 24979293, 1819...",2917,0.497772,44.494686,0.002743,0.730888,0.027768,1.571429
20142,2008-03-04 23:46:43,33,725,300,14080667,38,13777,"[68678, 17168]","[16001206, 14429770]",3660,3.764208,0.198087,0.009016,0.010383,0.081967,1.500000
20143,2010-07-07 23:00:55,14,45,40,164052930,1,657,"[59191, 59176, 59168]","[380627101, 34499671, 67539928, 45420525, 2452...",2805,0.234225,0.016043,0.004991,0.000357,0.014260,1.416667
20144,2011-01-09 01:14:20,0,1601,1858,235759540,14,33990,"[64609, 64634]","[298662568, 211187995, 113024446, 230402796, 2...",2620,12.973282,0.611069,0.000000,0.005344,0.709160,1.400000
20145,2009-06-27 15:32:14,3,9,8,51467717,0,0,[],"[50709914, 28410768, 30613407]",3180,0.000000,0.002830,0.000943,0.000000,0.002516,1.333333
20146,2011-07-31 05:34:02,115,28203,306,345795681,1617,11888,"[50486, 50577, 50506, 50475, 50489]","[141161453, 320638233, 241326613, 185085180, 1...",2417,4.918494,11.668597,0.047580,0.669011,0.126603,1.285714
20147,2011-02-27 12:32:28,1,223,55,258311318,2,219,"[67645, 67679, 67702, 67670, 15096]","[104554755, 36637698, 169274239, 35428478]",2571,0.085181,0.086737,0.000389,0.000778,0.021392,1.250000
20148,2009-05-06 16:41:23,528,186,957,38219161,3,1520,[],"[15086405, 287453334, 45235402, 314734443, 101...",3232,0.470297,0.057550,0.163366,0.000928,0.296101,1.200000
20149,2009-03-02 02:09:19,50,100,378,22437785,3,1562,"[30980, 30981, 31010, 30984]","[11173012, 16303106, 62167586, 14749606, 36686...",3298,0.473620,0.030321,0.015161,0.000910,0.114615,1.166667
20150,2010-06-14 21:02:01,1462,598,1399,155691033,6,9327,"[7741, 7723, 7739, 7745]","[134992998, 25389372, 22720927, 30484024, 1395...",2828,3.298091,0.211457,0.516973,0.002122,0.494696,1.100000
20151,2009-08-05 13:42:10,4405,320353,1444,63135128,827,29069,"[69981, 69993, 48381, 70002, 69997]",[19409458],3141,9.254696,101.990767,1.402420,0.263292,0.459726,1.000000
20152,2009-02-20 15:18:48,27964,110945,1643,21404171,683,16712,[44858],"[133365025, 69367470, 174334055, 16224717, 625...",3307,5.053523,33.548533,8.456002,0.206532,0.496825,0.833333
20153,2007-05-11 20:49:49,1876,118965,95,5973812,3686,118225,"[51484, 51507, 51478, 51501, 51506]","[7144422, 14749606, 17744075, 7607262, 52331565]",3958,29.869884,30.056847,0.473977,0.931278,0.024002,0.800000
20154,2008-04-13 14:06:12,2041,13261,373,14375110,794,22698,"[66032, 9386, 10426, 66021, 66012, 65993, 7848...","[16891384, 43196837, 17765013, 46130870]",3620,6.270166,3.663260,0.563812,0.219337,0.103039,0.750000
20155,2011-04-22 19:47:55,980,22507,236,286328448,47,5686,"[56845, 56849, 56852, 56840, 56842, 56839, 568...","[555498992, 505390117, 18117266, 22168877, 554...",2516,2.259936,8.945548,0.389507,0.018680,0.093800,0.714286
20156,2009-08-14 16:59:25,93,63150,266,65680082,606,1440,[],"[252822479, 87148957, 19320889]",3132,0.459770,20.162835,0.029693,0.193487,0.084930,0.666667
20157,2009-05-26 18:33:25,1,154,84,42685984,4,75,"[62888, 62894, 62915]","[15942739, 14864580, 15220987, 91487032, 34256...",3212,0.023350,0.047945,0.000311,0.001245,0.026152,0.625000
20158,2009-04-18 02:36:20,835,170,244,32741922,3,2370,"[9677, 21606, 21607, 21596]","[94849300, 556471629, 410147474, 19981527, 163...",3251,0.729006,0.052292,0.256844,0.000923,0.075054,0.571429
20159,2008-03-26 16:11:01,96,97,223,14227046,0,2260,[],"[104254976, 14480405]",3638,0.621220,0.026663,0.026388,0.000000,0.061297,0.500000
20160,2007-04-01 06:22:13,1292,15231947,1103,3108351,107796,225297,"[10176, 4516, 10124, 10123, 10144, 650, 10233,...","[28135853, 28164923, 28175577, 16334857, 624413]",3999,56.338335,3808.938985,0.323081,26.955739,0.275819,0.400000
20161,2009-05-20 16:55:53,748,10044,259,41397699,85,3501,[],"[19329683, 21236244, 19607400]",3218,1.087943,3.121193,0.232443,0.026414,0.080485,0.333333
20162,2011-12-17 05:17:37,10186,431,670,438924456,2,3695,[],"[304087481, 131320106, 110915535, 38522886]",2278,1.622037,0.189201,4.471466,0.000878,0.294118,0.250000
20163,2012-02-12 18:50:33,1697,107,166,490616971,2,520,[5032],"[103608625, 423938796, 364243152, 43320660, 15...",2220,0.234234,0.048198,0.764414,0.000901,0.074775,0.200000
20164,2009-01-17 19:36:04,22,2732,413,19120874,153,796,[16554],[87747752],3341,0.238252,0.817719,0.006585,0.045795,0.123616,0.000000
20165,2010-05-27 01:16:43,12,161,59,148563360,3,26536,[70004],[],2847,9.320688,0.056551,0.004215,0.001054,0.020724,NaN

In [44]:
seeds = filtered_users.iloc[0:10,:]

In [45]:
seeds

,created_at,user_favourites_count,followers_count,friends_count,user_id,user_listed_count,user_statuses_count,source_candidates,target_nodes,user_created_days,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count,avg_neighbour_degree
0,2009-04-26 23:49:25,0,9,22,35604056,0,0,[],[3359851],3242,0.000000,0.002776,0.000000,0.000000,0.006786,853.0
1,2010-11-17 20:55:07,0,7,20,216829577,0,65,[],"[59804598, 3359851]",2672,0.024326,0.002620,0.000000,0.000000,0.007485,843.0
2,2009-02-04 09:21:27,3669,5216,978,20039736,146,88227,[1238],[59804598],3324,26.542419,1.569194,1.103791,0.043923,0.294224,833.0
3,2011-10-07 08:28:59,20,641,165,386428938,12,456,"[24332, 525]","[59804598, 5442012]",2349,0.194125,0.272882,0.008514,0.005109,0.070243,752.0
4,2009-03-12 06:35:50,2316,185972,2567,23912766,688,6088,"[66249, 66250, 66243, 6327]",[813286],3288,1.851582,56.560827,0.704380,0.209246,0.780718,715.0
5,2009-10-08 15:31:01,3,102,54,80873238,0,259,"[3409, 3388, 9016]",[18581803],3077,0.084173,0.033149,0.000975,0.000000,0.017550,683.0
6,2009-03-14 23:01:51,0,74388,18684,24446042,4137,6655,"[43877, 1124, 43876, 1106, 1056, 43862, 43868,...",[5442012],3285,2.025875,22.644749,0.000000,1.259361,5.687671,671.0
7,2009-02-23 00:24:44,55,112,253,21614972,8,466,[],[15846407],3305,0.140998,0.033888,0.016641,0.002421,0.076551,595.0
8,2009-03-12 01:13:58,421,281,665,23867268,10,9669,[],"[42361118, 3359851]",3288,2.940693,0.085462,0.128041,0.003041,0.202251,514.5
9,2009-10-13 17:37:40,240,23143,34,82146778,589,530,"[13385, 61266, 61246, 3325, 61242, 1275, 13142...",[22679419],3072,0.172526,7.533529,0.078125,0.191732,0.011068,514.0

In [46]:
seeds_ids = list(seeds['user_id'])

In [47]:
seeds_ids

[35604056,
 216829577,
 20039736,
 386428938,
 23912766,
 80873238,
 24446042,
 21614972,
 23867268,
 82146778]

In [10]:
seeds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 16 columns):
Unnamed: 0                          5 non-null int64
created_at                          5 non-null object
user_favourites_count               5 non-null int64
followers_count                     5 non-null int64
friends_count                       5 non-null int64
user_id                             5 non-null int64
user_listed_count                   5 non-null int64
user_statuses_count                 5 non-null int64
source_candidates                   5 non-null object
infec_candidates                    5 non-null object
user_created_days                   5 non-null int64
normalized_user_statuses_count      5 non-null float64
normalized_user_followers_count     5 non-null float64
normalized_user_favourites_count    5 non-null float64
normalized_user_listed_count        5 non-null float64
normalized_user_friends_count       5 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 720.0+ bytes

In [11]:
seeds

,Unnamed: 0,created_at,user_favourites_count,followers_count,friends_count,user_id,user_listed_count,user_statuses_count,source_candidates,infec_candidates,user_created_days,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count
0,1723,2007-11-26 19:50:22,2875,650,181,10632552,42,7513,[525],[806],3759,1.998670,0.172918,0.764831,0.011173,0.048151
1,22956,2009-07-13 03:45:06,0,2927,3788,56278217,46,24843,"[2758, 5800]",[806],3165,7.849289,0.924803,0.000000,0.014534,1.196840
2,31539,2009-09-16 06:09:47,0,18,27,74666155,0,137,[],[806],3100,0.044194,0.005806,0.000000,0.000000,0.008710
3,33519,2009-07-19 21:10:08,0,7,9,58294702,1,128,"[33518, 33534, 33472]",[806],3158,0.040532,0.002217,0.000000,0.000317,0.002850
4,35831,2011-05-02 12:15:12,0,6,35,291662107,0,235,[35830],[806],2507,0.093738,0.002393,0.000000,0.000000,0.013961

In [12]:
unique_users[unique_users.user_id == 383278779 ]

,created_at,user_favourites_count,followers_count,friends_count,user_id,user_listed_count,user_statuses_count,source_candidates,infec_candidates,user_created_days,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count
3500,2011-10-01 15:57:36,1597,64,69,383278779,0,3865,"[3391, 3483, 3431]",[],2354,1.641886,0.027188,0.67842,0.0,0.029312

In [13]:
len(network)

70013

In [14]:
unique_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 15 columns):
created_at                          70013 non-null object
user_favourites_count               70013 non-null int64
followers_count                     70013 non-null int64
friends_count                       70013 non-null int64
user_id                             70013 non-null int64
user_listed_count                   70013 non-null int64
user_statuses_count                 70013 non-null int64
source_candidates                   70013 non-null object
infec_candidates                    70013 non-null object
user_created_days                   70013 non-null int64
normalized_user_statuses_count      70013 non-null float64
normalized_user_followers_count     70013 non-null float64
normalized_user_favourites_count    70013 non-null float64
normalized_user_listed_count        70013 non-null float64
normalized_user_friends_count       70013 non-null float64
dtypes: float64(5), int64(7), object(3)
memory usage: 8.0+ MB

In [5]:
# ######## infec_candidates ########
# temp=[]
# infec = [temp for i in range(len(unique_users))]
# unique_users["infec_candidates"]= None
# record_num = int(network.describe().iloc[0,0])

# for i in range(record_num):
#     source_candidates = unique_users.loc[i,'source_candidates']
#     #users.loc[i,"infec_candidates"] = list()
#     for j in range(len(source_candidates)):
#         candidates = source_candidates[j]
#         if infec[candidates] == []:
#             infec[candidates]=[i]
#         else :
#             infec[candidates]+=[i]

# unique_users.loc[:,"infec_candidates"]=infec

# unique_users.head()

# reprocess_data

In [15]:
def reprocess_data(time,origins,infectors,users,unique_users):
        i= int(users[users.user_id.isin([origins])].index.values)
        j= int(users[users.user_id.isin([infectors])].index.values)
        source_candidates = unique_users.loc[j,'source_candidates']
        sources = [x for x in source_candidates if users.loc[x,'TwM_time']<=time]
        sources_time=users[users.index.isin(sources)].sort_values(by=['TwM_time'])
        sources_dataframe = unique_users.loc[sources]
        timeList =  [users.loc[x].TwM_tCurrent - users.loc[x].TwM_time for x in sources]
        degreeList = list(unique_users.loc[k, 'followers_count'] + unique_users.loc[k, 'friends_count']  for k in sources)
    
            
        m=sources_time.index.values[0]
        n=sources_time.index.values[-1]
        
        users.loc[j,'UsM_deltaDays0'] = users.loc[m,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount0'] = users.loc[m,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount0'] = users.loc[m,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount0'] = users.loc[m,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount0']=users.loc[m,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount0']=users.loc[m,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount0']=users.loc[m,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount0']=users.loc[m,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount0']=users.loc[m,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount0']=users.loc[m,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount0']=users.loc[m,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'UsM_deltaDays-1'] = users.loc[n,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount-1'] = users.loc[n,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount-1']=users.loc[n,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount-1']=users.loc[n,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount-1']=users.loc[n,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount-1']=users.loc[n,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount-1']=users.loc[n,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount-1']=users.loc[n,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount-1']=users.loc[n,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount-1']=users.loc[n,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount-1']=users.loc[n,'UsM_normalizedUserFriendsCount']
        
       
        users.loc[j,'TwM_t0'] = users.loc[m].TwM_tCurrent - users.loc[m,'TwM_time']
        users.loc[j,'TwM_tSeed0'] = users.loc[m,'TwM_tSeed0']
        users.loc[j,'TwM_t-1'] = users.loc[m].TwM_tCurrent - users.loc[n,'TwM_time']
        users.loc[j,'TwM_tSeed-1'] = users.loc[n,'TwM_tSeed-1']
        users.loc[j,'TwM_tCurrent'] =  np.ceil(time/30)*30
        
        
        users.loc[j,'Nw_degree0'] = users.loc[m,'Nw_degree']
        users.loc[j,'Nw_degree-1'] = users.loc[n,'Nw_degree']
        users.loc[j,'Nw_inDegree0'] = users.loc[m,'UsM_friendsCount']
        users.loc[j,'Nw_inDegree-1'] = users.loc[n,'UsM_friendsCount']
        users.loc[j,'Nw_outDegree0'] = users.loc[m,'UsM_followersCount']
        users.loc[j,'Nw_outDegree-1'] = users.loc[n,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed0'] = users.loc[m,'Nw_degreeSeed0']
        users.loc[j,'Nw_inDegreeSeed0'] = users.loc[m,'Nw_inDegreeSeed0']
        users.loc[j,'Nw_outDegreeSeed0'] = users.loc[m,'Nw_outDegreeSeed0']
        users.loc[j,'Nw_degreeSeed-1'] = users.loc[n,'Nw_degreeSeed-1']
        users.loc[j,'Nw_inDegreeSeed-1'] = users.loc[n,'Nw_inDegreeSeed-1']
        users.loc[j,'Nw_outDegreeSeed-1'] = users.loc[n,'Nw_outDegreeSeed-1']
        
        
        
        users.loc[j,'SNw_generation0'] = users.loc[m,'SNw_generation']
        users.loc[j,'SNw_generation-1'] = users.loc[n,'SNw_generation']
        users.loc[j,'SNw_timeSinceSeed0'] = users.loc[m,'SNw_timeSinceSeed0']
        users.loc[j,'SNw_timeSinceSeed-1'] = users.loc[n,'SNw_timeSinceSeed-1']
        users.loc[j,'SNw_totalNodesInfected'] = infect_totalNodeInfected(users)
        users.loc[j,'SNw_nodeInfectedCentrality'] = len(sources)/users.loc[j,'SNw_totalNodesInfected']
        users.loc[j,'SNw_totalInDegree'] = infect_totalFriends(users)
        users.loc[j,'SNw_totalOutDegree'] = infect_totalFollowers(users)
        users.loc[j,'SNw_inDegreeCentrality'] = safe_division(in_degree[j], users.loc[j,'SNw_totalInDegree'])
        users.loc[j,'SNw_inDegreeCentrality0'] = users.loc[m,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentrality-1'] = users.loc[n,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality'] = safe_division(out_degree[j], users.loc[j,'SNw_totalOutDegree'])
        users.loc[j,'SNw_outDegreeCentrality0'] = users.loc[m,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality-1'] = users.loc[n,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentralitySeed0'] = users.loc[m,'SNw_inDegreeCentralitySeed0']
        users.loc[j,'SNw_outDegreeCentralitySeed0'] = users.loc[m,'SNw_outDegreeCentralitySeed0']
        users.loc[j,'SNw_inDegreeCentralitySeed-1'] = users.loc[n,'SNw_inDegreeCentralitySeed-1']
        users.loc[j,'SNw_outDegreeCentralitySeed-1'] = users.loc[n,'SNw_outDegreeCentralitySeed-1']


        users.loc[j,'SNw_nFriendsInfected']=len(sources)
        users.loc[j,'SNw_friendsInfectedRatio']=safe_division(len(sources), unique_users.loc[j,'friends_count'])
            
        users.loc[j,'Stat_average_kOut']=round(mean(degreeList), 1)
        users.loc[j,'Stat_average_t']=round(mean(timeList), 1)
        users.loc[j,'Stat_average_deltaDays']=sources_dataframe.user_created_days.mean()
        users.loc[j,'Stat_average_statusesCount']=sources_dataframe.user_statuses_count.mean()
        users.loc[j,'Stat_average_followersCount']=sources_dataframe.followers_count.mean()
        users.loc[j,'Stat_average_favouritesCount']=sources_dataframe.user_favourites_count.mean()
        users.loc[j,'Stat_average_friendsCount']=sources_dataframe.friends_count.mean()
        users.loc[j,'Stat_average_listedCount']=sources_dataframe.user_listed_count.mean()
        users.loc[j,'Stat_average_normalizedUserStatusesCount']=sources_dataframe.normalized_user_statuses_count.mean()
        users.loc[j,'Stat_average_normalizedUserFollowersCount']=sources_dataframe.normalized_user_followers_count.mean()
        users.loc[j,'Stat_average_normalizedUserFavouritesCount']=sources_dataframe.normalized_user_favourites_count.mean()
        users.loc[j,'Stat_average_normalizedUserListedCount']=sources_dataframe.normalized_user_listed_count.mean()
        users.loc[j,'Stat_average_normalizedUserFriendsCount']=sources_dataframe.normalized_user_friends_count.mean()
        if len(degreeList)!=0 :
            users.loc[j,'Stat_max_kOut']=max(degreeList) 
            users.loc[j,'Stat_min_kOut']=min(degreeList) 
        else:
            users.loc[j,'Stat_max_kOut']=''
            users.loc[j,'Stat_min_kOut']=''
#         temp = users[users.index.isin(['j'])]
        return users

In [16]:
# intervals = [60, 30, 15, 7]
intervals = [30]

# Helper function for mean value calculation
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)

def safe_division(x, y):
    if y == 0:
        return 0
    else:
        return x/y
    
# infectedNetworkStats = {}
# for interval in intervals:
#     statsDictionary = {}
#     for timestamp in range(0, 24*60+1, interval):
#         infected_dataframe = unique_users[unique_users.time_lapsed <= timestamp]
#         statsDictionary[timestamp] = {}
#         statsDictionary[timestamp]['totalNodeInfected'] = infected_dataframe.shape[0]
#         statsDictionary[timestamp]['totalFollowers'] = sum(infected_dataframe.followers_count)
#         statsDictionary[timestamp]['totalFriends'] = sum(infected_dataframe.friends_count)
#     infectedNetworkStats[interval] = statsDictionary

def infect_totalNodeInfected(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = infected_dataframe.shape[0]
    return states

def infect_totalFollowers(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = sum(infected_dataframe.UsM_followersCount)
    return states

def infect_totalFriends(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = sum(infected_dataframe.UsM_friendsCount)
    return states

in_degree = list(unique_users.friends_count)
out_degree = list(unique_users.followers_count)
degree = [sum(x) for x in zip(in_degree, out_degree)]

In [17]:
network_simulation = pd.DataFrame(columns=["t_current","user_id","source_candidates","infec_candidates",
                                           "followers_count","friends_count","source_id","seed_user_id",
                                           "SIR","generations","time_lapsed","time_since_seed"])
# network_simulation["user"] =unique_users["user"]
network_simulation["user_id"] = unique_users["user_id"]
network_simulation["source_candidates"] = unique_users["source_candidates"]
network_simulation["infec_candidates"] = unique_users["infec_candidates"]
network_simulation["followers_count"] = unique_users["followers_count"]
network_simulation["friends_count"] = unique_users["friends_count"]
#network_simulation.head()
# network_simualtion = load_pickle(path+'/Stanford_network_simulation_0.6.pkl')

In [18]:

infeclen =[len(x) for x in network_simulation['infec_candidates']]
network_simulation['infeclen']=infeclen
network_simulation

,t_current,user_id,source_candidates,infec_candidates,followers_count,friends_count,source_id,seed_user_id,SIR,generations,time_lapsed,time_since_seed,infeclen
0,NaN,214328887,"[105, 62, 147, 148, 42, 124, 32, 10, 96, 18, 1...","[1, 83, 70, 16, 40, 4, 76, 113, 156, 75, 39, 6...",2090,46,NaN,NaN,NaN,NaN,NaN,NaN,147
1,NaN,34428380,"[0, 12, 11, 110, 33, 118, 167, 78, 18, 74, 90,...","[51, 34, 93, 9, 58, 72, 135, 149, 1801, 2947, ...",305257,181,NaN,NaN,NaN,NaN,NaN,NaN,33
2,NaN,17116707,"[18, 56, 52, 111, 153, 97, 38, 35, 31, 169, 20...","[3, 82, 125, 113, 39, 62, 116, 70, 124, 58, 14...",11756,498,NaN,NaN,NaN,NaN,NaN,NaN,77
3,NaN,28465635,"[2, 111, 36, 158, 83, 118, 179, 148, 65, 130, ...","[161, 38, 86, 76, 12, 84, 72, 141, 100, 8, 53,...",57992,1482,NaN,NaN,NaN,NaN,NaN,NaN,91
4,NaN,380580781,"[18, 96, 35, 0, 66, 32, 156, 75, 55, 54, 25, 4...","[5, 87, 51, 140, 33, 22, 72, 58, 47, 10, 83, 6...",15033,219,NaN,NaN,NaN,NaN,NaN,NaN,68
5,NaN,18996905,"[4, 64, 42, 173, 66, 155, 153, 112, 43, 156, 2...","[63, 129, 9, 1, 72, 4170, 14875, 18521, 14885,...",284075,68,NaN,NaN,NaN,NaN,NaN,NaN,32
6,NaN,221036078,"[148, 8, 83, 68, 46, 0, 124, 113, 116, 33, 31,...","[7, 72, 52, 81, 118, 114, 56, 86, 37, 53, 41, ...",2121,206,NaN,NaN,NaN,NaN,NaN,NaN,67
7,NaN,153460275,"[6, 115, 31, 23, 82, 62, 44, 18, 20, 173, 14, ...","[84, 75, 72, 1, 10, 125, 9, 5, 18471, 18503, 1...",4710,35,NaN,NaN,NaN,NaN,NaN,NaN,13
8,NaN,107830991,"[10, 61, 35, 28, 41, 56, 52, 3, 49, 113, 69, 9...","[9, 58, 20, 77, 54, 6, 31, 43, 165, 21, 153, 3...",11627,934,NaN,NaN,NaN,NaN,NaN,NaN,106
9,NaN,17868918,"[8, 87, 123, 20, 37, 16, 66, 95, 80, 111, 69, ...","[51, 39, 81, 93, 58, 122, 72, 144, 4159, 4170,...",16996,552,NaN,NaN,NaN,NaN,NaN,NaN,103
10,NaN,151338729,"[28, 50, 54, 112, 36, 20, 73, 71, 173, 69, 18,...","[11, 22, 63, 8, 35, 94, 33, 58, 83, 149, 23, 2...",41712,198,NaN,NaN,NaN,NaN,NaN,NaN,109
11,NaN,222261763,"[10, 84, 75, 23, 31, 137, 2, 74, 20, 105, 88, ...","[13, 27, 51, 42, 118, 1, 58, 127, 59, 129, 147...",5399,512,NaN,NaN,NaN,NaN,NaN,NaN,149
12,NaN,19705747,"[159, 62, 3, 61, 82, 87, 193, 146, 33, 165, 80...","[1, 51, 84, 58, 72, 4112, 16960, 4219, 22771, ...",669869,600,NaN,NaN,NaN,NaN,NaN,NaN,59
13,NaN,88323281,"[11, 24, 32, 154, 20, 135, 174, 97, 73, 108, 3...","[130, 139, 62, 1, 44, 57, 138, 86, 131, 120, 1...",20883,834,NaN,NaN,NaN,NaN,NaN,NaN,171
14,NaN,19933035,"[61, 36, 137, 31, 20, 52, 95, 18495, 18444, 17...","[15, 125, 81, 37, 33, 13, 3, 39, 9, 84, 115, 2...",652,120,NaN,NaN,NaN,NaN,NaN,NaN,41
15,NaN,149538028,"[14, 86, 49, 112, 61, 47, 41, 102, 70, 123, 0,...","[18, 21, 56, 62, 94, 16, 42, 58, 43, 96, 35, 5...",17797,255,NaN,NaN,NaN,NaN,NaN,NaN,151
16,NaN,158419434,"[83, 107, 0, 146, 42, 15, 37, 41, 62, 25, 10, ...","[17, 30, 70, 125, 9, 24, 73, 122, 59, 58, 180,...",14488,3531,NaN,NaN,NaN,NaN,NaN,NaN,87
17,NaN,17434613,"[16, 78, 131, 42, 109, 133, 110, 147, 45, 30, ...","[72, 132, 58, 92, 51, 74, 1, 84, 9806, 17025, ...",57400,212,NaN,NaN,NaN,NaN,NaN,NaN,13
18,NaN,153226312,"[15, 19, 60, 117, 74, 47, 53, 43, 135, 49, 8, ...","[22, 2, 4, 59, 34, 25, 118, 79, 123, 146, 112,...",13085,28,NaN,NaN,NaN,NaN,NaN,NaN,274
19,NaN,364971269,"[42, 109, 110, 158, 95, 4149, 18907, 4133, 184...","[18, 49, 130, 108, 1, 75, 24, 84, 31, 146, 72,...",537,252,NaN,NaN,NaN,NaN,NaN,NaN,38
20,NaN,100581193,"[31, 70, 41, 36, 8, 33, 87, 140, 147, 100, 18,...","[62, 25, 22, 38, 69, 10, 75, 111, 9, 13, 21, 1...",3444,11,NaN,NaN,NaN,NaN,NaN,NaN,239
21,NaN,69592091,"[61, 28, 79, 41, 105, 56, 127, 15, 27, 155, 20...","[88, 76, 165, 96, 73, 51, 23, 32, 86, 66, 125,...",40064,967,NaN,NaN,NaN,NaN,NaN,NaN,96
22,NaN,187773078,"[10, 18, 20, 78, 49, 41, 96, 61, 25, 23, 4, 70...","[122, 44, 47, 58, 51, 42, 37, 127, 33, 94, 27,...",10803,182,NaN,NaN,NaN,NaN,NaN,NaN,57
23,NaN,406628822,"[135, 21, 10, 18, 20, 37, 87, 137, 54, 68, 0, ...","[84, 53, 122, 83, 11, 58, 49, 28, 22, 94, 7, 2...",3616,268,NaN,NaN,NaN,NaN,NaN,NaN,110
24,NaN,460282402,"[138, 16, 108, 31, 42, 19, 85, 4133, 34128, 18...","[13, 73, 72, 100, 58, 84, 3, 5, 27, 135, 170, ...",237,68,NaN,NaN,NaN,NaN,NaN,NaN,19
25,NaN,280935165,"[20, 96, 18, 58, 111, 156, 69, 90, 59, 38, 76,...","[26, 42, 44, 122, 165, 72, 32, 70, 94, 22, 13,...",32706,124,NaN,NaN,NaN,NaN,NaN,NaN,138
26,NaN,437804658,"[25, 68, 124, 88, 76, 77, 18, 41, 100, 165, 32...","[51, 1, 105, 62, 39, 97, 96, 94, 49, 20, 58, 2...",1627,328,NaN,NaN,NaN,NaN,NaN,NaN,61
27,NaN,27633075,"[11, 88, 136, 96, 53, 42, 154, 130, 10, 23, 33...","[21, 39, 125, 94, 149, 5, 51, 84, 1, 58, 9, 93...",29557,233,NaN,NaN,NaN,NaN,NaN,NaN,21
28,NaN,285312927,"[23, 41, 135, 165, 68, 123, 105, 111, 147, 14,...","[10, 21, 8, 39, 88, 51, 5, 69, 94, 29, 81, 62,...",3700,59,NaN,NaN,NaN,NaN,NaN,NaN,41
29,NaN,131613362,"[49, 88, 66, 54, 114, 173, 20, 58, 84, 28, 55,...","[68, 122, 32, 51, 77, 140, 56, 53, 75, 81, 148...",11273,134,NaN,NaN,NaN,NaN,NaN,NaN,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69983,NaN,165153568,[35068],"[18900, 58, 69991, 1, 84, 72]",281,719,NaN,NaN,NaN,NaN,NaN,NaN,6
69984,NaN,59953940,[],"[18900, 58, 16960, 84, 69995, 16951]",445,273,NaN,NaN,NaN,NaN,NaN,NaN,6
69985,NaN,56222976,[],"[16951, 16960, 69995, 69982, 30281, 35068, 116...",163,280,NaN,NaN,NaN,NaN,NaN,NaN,8
69986,NaN,162157731,[70004],"[69982, 70006, 69987]",355,172,NaN,NaN,NaN,NaN,NaN,NaN,3
69987,NaN,152011250,"[69986, 70004]","[69988, 11609, 18900, 41049, 69982, 30281]",193,7,NaN,NaN,NaN,NaN,NaN,NaN,6
69988,NaN,134894667,[69987],[],121,220,NaN,NaN,NaN,NaN,NaN,NaN,0
69989,NaN,28016093,[],"[338, 16960, 69995, 58, 16985, 18900, 16951]",997,288,NaN,NaN,NaN,NaN,NaN,NaN,7
69990,NaN,137772184,[],"[30281, 338, 58, 1, 96, 4159, 84, 72, 11609, 8...",1353,178,NaN,NaN,NaN,NaN,NaN,NaN,12
69991,NaN,336218834,[69983],"[1, 84, 81, 69982, 35068, 18900, 4112, 58, 415...",202,199,NaN,NaN,NaN,NaN,NaN,NaN,12
69992,NaN,146229554,[],"[17309, 70009, 69997]",1709,234,NaN,NaN,NaN,NaN,NaN,NaN,3
69993,NaN,240895600,[],"[70001, 69997, 37887, 17309]",527,194,NaN,NaN,NaN,NaN,NaN,NaN,4
69994,NaN,49037471,[],"[69995, 16989, 16960, 16951]",175,94,NaN,NaN,NaN,NaN,NaN,NaN,4
69995,NaN,179167773,"[69994, 16989, 69985, 69989, 69984]","[16960, 16951, 16985]",713,543,NaN,NaN,NaN,NaN,NaN,NaN,3
69996,NaN,250733287,[],"[69997, 18900, 67288]",184,271,NaN,NaN,NaN,NaN,NaN,NaN,3
69997,NaN,281765007,"[69996, 69993, 70009, 70003, 69992]","[17309, 70001]",18654,152,NaN,NaN,NaN,NaN,NaN,NaN,2
69998,NaN,150319193,"[69985, 69982]","[30281, 35068, 11609, 18900]",2447,378,NaN,NaN,NaN,NaN,NaN,NaN,4
69999,NaN,218640513,"[69982, 70004]","[17309, 70006, 16960]",734,384,NaN,NaN,NaN,NaN,NaN,NaN,3
70000,NaN,61497784,[],"[84, 58, 70005, 72, 30281, 69981, 18900, 67288...",845,1011,NaN,NaN,NaN,NaN,NaN,NaN,10
70001,NaN,63135128,"[69981, 69993, 48381, 70002, 69997]",[67288],320353,1444,NaN,NaN,NaN,NaN,NaN,NaN,1
70002,NaN,206918348,[],"[338, 72, 70001, 69981]",103,191,NaN,NaN,NaN,NaN,NaN,NaN,4
70003,NaN,93641182,[35068],"[16989, 18900, 37887, 17309, 70008, 69997]",359,680,NaN,NaN,NaN,NaN,NaN,NaN,6
70004,NaN,53811382,[],"[69986, 69982, 70006, 69987, 41049, 69999, 70012]",454,361,NaN,NaN,NaN,NaN,NaN,NaN,7
70005,NaN,48108211,[70000],[],319075,308,NaN,NaN,NaN,NaN,NaN,NaN,0
70006,NaN,362077620,"[69986, 69999, 70004]","[67288, 69982, 4112, 16960, 84, 58, 1, 72, 17309]",453,104,NaN,NaN,NaN,NaN,NaN,NaN,9
70007,NaN,165498547,[],"[16960, 35068]",346,50,NaN,NaN,NaN,NaN,NaN,NaN,2
70008,NaN,253509115,"[70003, 57826]",[18900],1028,571,NaN,NaN,NaN,NaN,NaN,NaN,1
70009,NaN,63784655,[69992],"[17309, 69997, 18900]",427,336,NaN,NaN,NaN,NaN,NaN,NaN,3
70010,NaN,63503127,[],"[72, 18900, 1, 84, 58]",432,106,NaN,NaN,NaN,NaN,NaN,NaN,5
70011,NaN,75829996,[69991],"[84, 69982, 18900]",448,479,NaN,NaN,NaN,NaN,NaN,NaN,3
70012,NaN,148563360,[70004],[],161,59,NaN,NaN,NaN,NaN,NaN,NaN,0

##situation choose:
##a.全部为0   b.从0开始由小到大    c.从0开始由大到小


def seed_chosen():
    index_empty=[]
    for x in range(len(network_simulation)):
        if   math.isnan(network_simulation.loc[x,'generations'])==True :
            if network_simulation.loc[x,'infeclen']<150:
                index_empty.append(x)
    seeds_potential = network_simulation[network_simulation.index.isin(index_empty)]
#     print(seeds_potential)
    seeds_potential  = seeds_potential.sort_values(by='infeclen',ascending=False)
    seeds= seeds_potential.iloc[0:5]
#     print(seeds)
    return seeds

# infeclen =[len(x) for x in seeds['infec_candidates']]
# seeds['infeclen']=infeclen

# seeds = seeds.sort_values(by='infeclen',ascending=False)
# seeds = seeds.iloc[0:5]
# seeds['time_lapsed']=0
# seeds

In [40]:
index_empty=[]
for x in range(len(network_simulation)):
    if   math.isnan(network_simulation.loc[x,'generations'])==True :
        if network_simulation.loc[x,'infeclen']<150:
            index_empty.append(x)

In [48]:
len(seeds)

20

In [41]:
len(index_empty)

69748

In [44]:
l = list(network_simulation.index)
max(l)

70012

In [46]:
len(network_simulation[network_simulation.index.isin(index_empty)])

69748

In [37]:
len(network_simulation)

70013

In [49]:
seeds1 = seed_chosen()

5

In [50]:
seeds1

,t_current,user_id,source_candidates,infec_candidates,followers_count,friends_count,source_id,seed_user_id,SIR,generations,time_lapsed,time_since_seed,infeclen
19078,NaN,24239110,"[16544, 9931, 19079, 19097, 19156, 19110, 1657...","[743, 19129, 3762, 6870, 19134, 19089, 3808, 3...",17718,6709,NaN,NaN,NaN,NaN,NaN,NaN,149
3624,NaN,60620992,"[1581, 3627, 3681, 3674, 699, 3647, 1451, 1588...","[3625, 3633, 1572, 3639, 3641, 3617, 872, 3711...",29472,440,NaN,NaN,NaN,NaN,NaN,NaN,149
14922,NaN,17968886,"[14879, 14872, 14914, 14869, 14858, 14852, 149...","[8283, 14861, 14945, 14860, 14959, 14866, 1493...",304275,42680,NaN,NaN,NaN,NaN,NaN,NaN,149
10816,NaN,95495271,"[10799, 10845, 10805, 10828, 10833, 10846, 107...","[10817, 10824, 10851, 10835, 10808, 10798, 108...",12658,6184,NaN,NaN,NaN,NaN,NaN,NaN,149
19568,NaN,123004655,"[19591, 19582, 14742, 2596, 19577, 19580, 2758...","[19569, 19573, 19561, 19597, 1238, 19560, 1210...",2965,2101,NaN,NaN,NaN,NaN,NaN,NaN,149

In [19]:
### seeds ###
def seeds_setting_simulation(seeds,network_simulation):
    for i in range(len(seeds)):
        index = seeds.index.values
        network_simulation.loc[index,'SIR'] = 1
        network_simulation.loc[index,'generations'] = 0
        network_simulation.loc[index,'source_id'] = seeds.loc[index,'user_id']
        network_simulation.loc[index,'time_lapsed'] = seeds.loc[index,'time_lapsed']
        network_simulation.loc[index,'seed_user_id'] = seeds.loc[index,'user_id']
        network_simulation.loc[index,'time_since_seed'] = 0
    return network_simulation

def seeds_setting_features(seeds,users):
    for i in range(len(seeds)):   
        j = seeds.index.values[i]
#         sources = [x for x in seeds.loc[j,'source_candidates']]
        users.loc[j,'UsM_deltaDays0'] = users.loc[j,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount0'] = users.loc[j,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount0']=users.loc[j,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount0']=users.loc[j,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount0']=users.loc[j,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount0']=users.loc[j,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount0']=users.loc[j,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount0']=users.loc[j,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount0']=users.loc[j,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount0']=users.loc[j,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount0']=users.loc[j,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'UsM_deltaDays-1'] = users.loc[j,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount-1'] = users.loc[j,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount-1']=users.loc[j,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount-1']=users.loc[j,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount-1']=users.loc[j,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount-1']=users.loc[j,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount-1']=users.loc[j,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount-1']=users.loc[j,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount-1']=users.loc[j,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount-1']=users.loc[j,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount-1']=users.loc[j,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'TwM_t0'] =seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_t-1'] =seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_tCurrent'] = np.ceil(seeds.loc[j,'time_lapsed']+0.001/30)*30   
        users.loc[j,'TwM_tSeed0'] = seeds.loc[j,'time_lapsed']                         
        users.loc[j,'TwM_tSeed-1'] = seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_time'] = seeds.loc[j,'time_lapsed']

        users.loc[j,'Nw_degree0'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_degree-1'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_inDegree0'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_inDegree-1'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_outDegree0'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_outDegree-1'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed0'] = users.loc[j,'Nw_degree']    
        users.loc[j,'Nw_inDegreeSeed0'] = users.loc[j,'UsM_friendsCount'] 
        users.loc[j,'Nw_outDegreeSeed0'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed-1'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_inDegreeSeed-1'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_outDegreeSeed-1'] = users.loc[j,'UsM_followersCount']
        
        users.loc[j,'SNw_generation0'] = 0
        users.loc[j,'SNw_generation-1'] = 0
        users.loc[j,'SNw_generation'] = 0
        users.loc[j,'SNw_totalNodesInfected'] = infect_totalNodeInfected(users)
#         users.loc[j,'SNw_nodeInfectedCentrality'] = len(sources)/users.loc[j,'SNw_totalNodesInfected']
        users.loc[j,'SNw_totalInDegree'] = infect_totalFriends(users)
        users.loc[j,'SNw_totalOutDegree'] = infect_totalFollowers(users)
        users.loc[j,'SNw_inDegreeCentrality'] = safe_division(in_degree[j], users.loc[j,'SNw_totalInDegree'])
        users.loc[j,'SNw_inDegreeCentrality0'] = users.loc[j,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentrality-1'] = users.loc[j,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality'] = safe_division(out_degree[j], users.loc[j,'SNw_totalOutDegree'])
        users.loc[j,'SNw_outDegreeCentrality0'] = users.loc[j,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality-1'] = users.loc[j,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentralitySeed0'] = users.loc[j,'SNw_inDegreeCentrality']               
        users.loc[j,'SNw_outDegreeCentralitySeed0'] = users.loc[j,'SNw_outDegreeCentrality']                
        users.loc[j,'SNw_inDegreeCentralitySeed-1'] = users.loc[j,'SNw_inDegreeCentrality']                  
        users.loc[j,'SNw_outDegreeCentralitySeed-1'] = users.loc[j,'SNw_outDegreeCentrality']
    return users

In [12]:
# seeds_setting_simulation(seeds,network_simulation)
# seeds_setting_features(seeds,users)

In [13]:
network_simulation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 13 columns):
t_current            0 non-null object
user_id              70013 non-null int64
source_candidates    70013 non-null object
infec_candidates     70013 non-null object
followers_count      70013 non-null int64
friends_count        70013 non-null int64
source_id            0 non-null object
seed_user_id         0 non-null object
SIR                  0 non-null object
generations          0 non-null object
time_lapsed          0 non-null object
time_since_seed      0 non-null object
infeclen             70013 non-null int64
dtypes: int64(4), object(9)
memory usage: 6.9+ MB

In [20]:

def simulation(t,unique_users,network_simulation):
    for i in range(len(unique_users)):
        if np.isnan(network_simulation.loc[i,"time_lapsed"]) == False : #meaning they are seed
            if round(network_simulation.loc[i,"time_lapsed"]) <= t:
                infec_candidates=network_simulation.loc[i,"infec_candidates"]

                for j in range(len(infec_candidates)):
                    infector = network_simulation.loc[i,"infec_candidates"][j]

                    if network_simulation.loc[infector,'SIR']!=1 :
                        user_id1 = network_simulation.loc[i,'user_id']
                        user_id2 = network_simulation.loc[infector,'user_id']
                        processed_user=reprocess_data(t+1,user_id1,user_id2,users,unique_users)

                        valid = processed_user[processed_user.index.isin([infector])]
#                             print(valid['Stat_average_t'])
                        valid = valid.drop(['label','user_id','SNw_generation','TwM_time'],axis=1)

                        valid = valid.astype('float64')

                        columns = list(valid.columns)
                        X = valid[columns]
                        pre_data = xgb.DMatrix(X)
                        infec = model.predict(pre_data)
                        #print(infec)
                        if infec>0.6 :
                            print('infected')
                            users.loc[infector,'TwM_time'] = t
                            network_simulation.loc[infector,"SIR"] = 1
                            network_simulation.loc[infector,"generations"] = network_simulation.loc[i,"generations"]+1
                            network_simulation.loc[infector,"source_id"] = network_simulation.loc[i,"user_id"] 
                            network_simulation.loc[infector,"seed_user_id"] = network_simulation.loc[i,"seed_user_id"] 
                            network_simulation.loc[infector,"time_lapsed"] = t+1
            #             network_simulation.loc[i,"SIR"]=2 
    return unique_users,network_simulation

In [21]:
##time = 5*60 minutes with resuming, due to releasing memory
seeds_id = list(seeds.index.values)
for t in range(0,6):
    if t < 4 :
        #seeds = seed_chosen()
        seeds['time_lapsed'] = t
        seeds_setting_simulation(seeds,network_simulation)
        seeds_setting_features(seeds,users)
        for x in range(len(seeds.index.values)):
            seeds_id.append(seeds.index.values[x])
    temp_data=simulation(t,unique_users,network_simulation)
    unique_users = temp_data[0]
    network_simulation = temp_data[1]
    print(t)
    write_to_pickle(path+'/Stanford_network_simulation_key_node_avg_neigh_degree_top_5.pkl', network_simulation)

0
1
2
3
4
5

In [22]:
seeds_id = list(seeds.index.values)

seeds_id

[0, 1, 2, 3, 4]

In [55]:
for x in range(len(seeds.index.values)):
    print(f"x: {x}")
    seeds_id.append(seeds.index.values[x])

x: 0
x: 1
x: 2
x: 3
x: 4
x: 5
x: 6
x: 7
x: 8
x: 9
x: 10
x: 11
x: 12
x: 13
x: 14
x: 15
x: 16
x: 17
x: 18
x: 19

In [56]:
seeds_id

[3500,
 4900,
 1400,
 5950,
 5250,
 3150,
 1750,
 6650,
 3850,
 0,
 350,
 6300,
 2800,
 2100,
 700,
 1050,
 4200,
 4550,
 2450,
 52236,
 3500,
 4900,
 1400,
 5950,
 5250,
 3150,
 1750,
 6650,
 3850,
 0,
 350,
 6300,
 2800,
 2100,
 700,
 1050,
 4200,
 4550,
 2450,
 52236]

In [51]:
seeds.index.values

array([ 3500,  4900,  1400,  5950,  5250,  3150,  1750,  6650,  3850,
           0,   350,  6300,  2800,  2100,   700,  1050,  4200,  4550,
        2450, 52236])

In [23]:
network_simulation["t_current"]=users["TwM_tCurrent"]
# network_simulation

In [ ]:
# network_simulation[network_simulation.generations.isin([0])]
x=[0,1,2,3,4,5,6,7,8]
network_simulation[network_simulation.generations.isin(x)]

# network_simulation.info()

In [ ]:
# write_to_pickle(path+'/Stanford_network_simulation_eigencentrality_5.pkl', network_simulation)

In [ ]:
# network_simulation

In [29]:
network_simulation['t_current'].unique()

array([120.0, 30.0, nan], dtype=object)

In [30]:
network_simulation[network_simulation['t_current'].isin([120,30])]

,t_current,user_id,source_candidates,infec_candidates,followers_count,friends_count,source_id,seed_user_id,SIR,generations,time_lapsed,time_since_seed,infeclen
0,120,214328887,"[105, 62, 147, 148, 42, 124, 32, 10, 96, 18, 1...","[1, 83, 70, 16, 40, 4, 76, 113, 156, 75, 39, 6...",2090,46,10632552,10632552,1,0,3,0,147
1,120,34428380,"[0, 12, 11, 110, 33, 118, 167, 78, 18, 74, 90,...","[51, 34, 93, 9, 58, 72, 135, 149, 1801, 2947, ...",305257,181,56278217,56278217,1,0,3,0,33
2,120,17116707,"[18, 56, 52, 111, 153, 97, 38, 35, 31, 169, 20...","[3, 82, 125, 113, 39, 62, 116, 70, 124, 58, 14...",11756,498,74666155,74666155,1,0,3,0,77
3,120,28465635,"[2, 111, 36, 158, 83, 118, 179, 148, 65, 130, ...","[161, 38, 86, 76, 12, 84, 72, 141, 100, 8, 53,...",57992,1482,58294702,58294702,1,0,3,0,91
4,120,380580781,"[18, 96, 35, 0, 66, 32, 156, 75, 55, 54, 25, 4...","[5, 87, 51, 140, 33, 22, 72, 58, 47, 10, 83, 6...",15033,219,291662107,291662107,1,0,3,0,68
5,30,18996905,"[4, 64, 42, 173, 66, 155, 153, 112, 43, 156, 2...","[63, 129, 9, 1, 72, 4170, 14875, 18521, 14885,...",284075,68,NaN,NaN,NaN,NaN,NaN,NaN,32
6,30,221036078,"[148, 8, 83, 68, 46, 0, 124, 113, 116, 33, 31,...","[7, 72, 52, 81, 118, 114, 56, 86, 37, 53, 41, ...",2121,206,NaN,NaN,NaN,NaN,NaN,NaN,67
7,30,153460275,"[6, 115, 31, 23, 82, 62, 44, 18, 20, 173, 14, ...","[84, 75, 72, 1, 10, 125, 9, 5, 18471, 18503, 1...",4710,35,NaN,NaN,NaN,NaN,NaN,NaN,13
8,30,107830991,"[10, 61, 35, 28, 41, 56, 52, 3, 49, 113, 69, 9...","[9, 58, 20, 77, 54, 6, 31, 43, 165, 21, 153, 3...",11627,934,NaN,NaN,NaN,NaN,NaN,NaN,106
9,30,17868918,"[8, 87, 123, 20, 37, 16, 66, 95, 80, 111, 69, ...","[51, 39, 81, 93, 58, 122, 72, 144, 4159, 4170,...",16996,552,NaN,NaN,NaN,NaN,NaN,NaN,103
10,30,151338729,"[28, 50, 54, 112, 36, 20, 73, 71, 173, 69, 18,...","[11, 22, 63, 8, 35, 94, 33, 58, 83, 149, 23, 2...",41712,198,NaN,NaN,NaN,NaN,NaN,NaN,109
11,30,222261763,"[10, 84, 75, 23, 31, 137, 2, 74, 20, 105, 88, ...","[13, 27, 51, 42, 118, 1, 58, 127, 59, 129, 147...",5399,512,NaN,NaN,NaN,NaN,NaN,NaN,149
12,30,19705747,"[159, 62, 3, 61, 82, 87, 193, 146, 33, 165, 80...","[1, 51, 84, 58, 72, 4112, 16960, 4219, 22771, ...",669869,600,NaN,NaN,NaN,NaN,NaN,NaN,59
13,30,88323281,"[11, 24, 32, 154, 20, 135, 174, 97, 73, 108, 3...","[130, 139, 62, 1, 44, 57, 138, 86, 131, 120, 1...",20883,834,NaN,NaN,NaN,NaN,NaN,NaN,171
15,30,149538028,"[14, 86, 49, 112, 61, 47, 41, 102, 70, 123, 0,...","[18, 21, 56, 62, 94, 16, 42, 58, 43, 96, 35, 5...",17797,255,NaN,NaN,NaN,NaN,NaN,NaN,151
16,30,158419434,"[83, 107, 0, 146, 42, 15, 37, 41, 62, 25, 10, ...","[17, 30, 70, 125, 9, 24, 73, 122, 59, 58, 180,...",14488,3531,NaN,NaN,NaN,NaN,NaN,NaN,87
21,30,69592091,"[61, 28, 79, 41, 105, 56, 127, 15, 27, 155, 20...","[88, 76, 165, 96, 73, 51, 23, 32, 86, 66, 125,...",40064,967,NaN,NaN,NaN,NaN,NaN,NaN,96
22,30,187773078,"[10, 18, 20, 78, 49, 41, 96, 61, 25, 23, 4, 70...","[122, 44, 47, 58, 51, 42, 37, 127, 33, 94, 27,...",10803,182,NaN,NaN,NaN,NaN,NaN,NaN,57
23,30,406628822,"[135, 21, 10, 18, 20, 37, 87, 137, 54, 68, 0, ...","[84, 53, 122, 83, 11, 58, 49, 28, 22, 94, 7, 2...",3616,268,NaN,NaN,NaN,NaN,NaN,NaN,110
25,30,280935165,"[20, 96, 18, 58, 111, 156, 69, 90, 59, 38, 76,...","[26, 42, 44, 122, 165, 72, 32, 70, 94, 22, 13,...",32706,124,NaN,NaN,NaN,NaN,NaN,NaN,138
27,30,27633075,"[11, 88, 136, 96, 53, 42, 154, 130, 10, 23, 33...","[21, 39, 125, 94, 149, 5, 51, 84, 1, 58, 9, 93...",29557,233,NaN,NaN,NaN,NaN,NaN,NaN,21
28,30,285312927,"[23, 41, 135, 165, 68, 123, 105, 111, 147, 14,...","[10, 21, 8, 39, 88, 51, 5, 69, 94, 29, 81, 62,...",3700,59,NaN,NaN,NaN,NaN,NaN,NaN,41
29,30,131613362,"[49, 88, 66, 54, 114, 173, 20, 58, 84, 28, 55,...","[68, 122, 32, 51, 77, 140, 56, 53, 75, 81, 148...",11273,134,NaN,NaN,NaN,NaN,NaN,NaN,50
33,30,204317520,"[83, 148, 111, 4, 87, 36, 10, 56, 14, 23, 60, ...","[34, 43, 112, 70, 93, 130, 61, 1, 77, 39, 69, ...",16485,304,NaN,NaN,NaN,NaN,NaN,NaN,235
34,30,21548772,"[33, 18, 111, 83, 61, 1, 148, 78, 165, 56, 10,...","[58, 84, 72, 51, 18521, 21679, 7199]",4862,346,NaN,NaN,NaN,NaN,NaN,NaN,7
36,30,172883064,"[35, 105, 37, 56, 60, 54, 112, 73, 137, 100, 4...","[111, 10, 47, 3, 20, 45, 33, 58, 120, 70, 14, ...",4185,235,NaN,NaN,NaN,NaN,NaN,NaN,132
37,30,270449528,"[47, 113, 14, 97, 42, 103, 43, 87, 6, 112, 22,...","[38, 32, 36, 9, 39, 96, 127, 93, 16, 44, 94, 6...",30427,972,NaN,NaN,NaN,NaN,NaN,NaN,184
38,30,297801196,"[37, 20, 3, 44, 123, 21, 90, 52, 35, 8, 31, 86...","[41, 32, 49, 81, 2, 5, 47, 25, 113, 83, 10, 76...",9840,93,NaN,NaN,NaN,NaN,NaN,NaN,56
39,30,8088112,"[35, 52, 53, 105, 161, 37, 2, 27, 33, 32, 58, ...","[122, 1, 2359, 4223, 4225, 2142, 4219, 18461, ...",27501,417,NaN,NaN,NaN,NaN,NaN,NaN,22
40,30,14925700,"[31, 160, 0, 92, 73, 16, 88, 108, 84, 140, 37,...","[5, 14885]",672809,891,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42307,30,213039691,"[42322, 18514, 2, 135, 42306, 42281, 33, 50629...","[42274, 42305, 72, 49, 42318, 84, 42344, 28620...",10596,4598,NaN,NaN,NaN,NaN,NaN,NaN,40
42344,30,364982679,"[18, 42317, 18514, 42307, 105, 18444, 4, 36844]","[37796, 135, 32, 42284, 72, 84, 25, 22778, 1, ...",283,470,NaN,NaN,NaN,NaN,NaN,NaN,26
44298,30,56272325,"[3, 42, 79, 44290, 110, 33973, 18, 108, 50261,...","[4159, 44301, 72, 26043, 13, 84, 1, 1796, 58, ...",5872,1779,NaN,NaN,NaN,NaN,NaN,NaN,29
44387,30,178077574,"[44386, 37598, 44399, 41879, 28607, 1736, 4439...","[1737, 18529, 46, 18524, 33, 20, 36, 14882, 28...",1006,1370,NaN,NaN,NaN,NaN,NaN,NaN,92
44391,30,278142159,"[44396, 20, 32, 68, 33445, 18442, 18479, 44387...","[37, 44395, 147, 165, 36, 1, 5, 53, 33, 28595,...",494,739,NaN,NaN,NaN,NaN,NaN,NaN,34
44404,30,261702903,"[32, 33, 28594, 28606, 18483, 18480, 18444, 13...","[15, 94, 70, 53, 28, 9, 83, 75, 18505, 1, 84, ...",612,37,NaN,NaN,NaN,NaN,NaN,NaN,17
44712,30,183756503,"[18479, 33, 18, 15, 44708, 44719, 0]","[147, 8, 84, 2, 165, 10, 18467, 76, 22, 94, 22...",896,603,NaN,NaN,NaN,NaN,NaN,NaN,20
44718,30,33664772,"[44717, 40749, 44713, 2]","[38869, 86, 84, 1, 14155, 44714, 52, 58, 8269,...",852,70,NaN,NaN,NaN,NaN,NaN,NaN,11
46831,30,180862003,"[2, 46840, 70, 21679, 46833, 46842, 88, 46830,...","[5, 38867, 113, 94, 58, 38914, 1, 28628, 22769...",1280,286,NaN,NaN,NaN,NaN,NaN,NaN,17
49068,30,321882906,"[36847, 36893, 28585, 40738, 68, 94, 18454, 34...","[27, 18497, 18466, 49082, 72, 18465, 58, 37621...",1204,186,NaN,NaN,NaN,NaN,NaN,NaN,20
49069,30,217709061,"[94, 49081, 36227, 37621, 4, 20, 49065, 37, 28...","[147, 18466, 84, 49, 43, 18500, 28583, 105, 15...",494,288,NaN,NaN,NaN,NaN,NaN,NaN,20
49073,30,274494655,"[18444, 105, 34122, 0, 49065, 18464, 37619]","[28583, 165, 68, 28609, 36847, 37, 26, 54, 84,...",188,44,NaN,NaN,NaN,NaN,NaN,NaN,19
49079,30,345963718,"[25, 49065, 147, 37619, 37621, 22799, 37, 0]","[28583, 18464, 37622, 15, 49, 40738, 36847, 1,...",822,260,NaN,NaN,NaN,NaN,NaN,NaN,45
49443,30,98285961,"[4, 49439]","[4112, 22782, 84, 18, 18497, 37, 140, 15, 51, ...",296,1096,NaN,NaN,NaN,NaN,NaN,NaN,39
50238,30,367258531,"[17054, 26080, 3, 50242]","[17012, 108, 39930, 4237, 22764, 36921, 24818,...",689,230,NaN,NaN,NaN,NaN,NaN,NaN,8
50632,30,407283499,"[18472, 42307, 22780, 22782, 26, 2, 49078, 20,...","[5, 81, 4, 10, 37787, 21703, 15, 58, 37, 40739...",539,148,NaN,NaN,NaN,NaN,NaN,NaN,27
50642,30,410901243,"[18465, 36850, 28621, 37, 41465, 28585, 165, 3...","[38917, 5, 37631, 22773, 39, 27, 22800, 18464,...",1009,299,NaN,NaN,NaN,NaN,NaN,NaN,30
50643,30,75584300,"[50634, 50633, 22773, 18444, 18452, 37637, 376...","[41380, 20, 50626, 28585, 37631, 50622, 18490,...",2949,1862,NaN,NaN,NaN,NaN,NaN,NaN,35
50649,30,163436784,"[135, 50623, 22792, 37813, 50648, 2, 50657, 37...","[122, 50638, 22772, 21689, 155, 27, 50637, 285...",1260,555,NaN,NaN,NaN,NaN,NaN,NaN,21
53662,30,51543792,"[53723, 57821, 57817, 57846, 3, 63558, 63559, ...","[53663, 53689, 53670, 53666, 53674, 25386, 537...",1314,334,NaN,NaN,NaN,NaN,NaN,NaN,42
56056,30,24788654,"[39, 34801, 56, 3, 135, 1, 18504, 56062, 54, 3...","[56058, 18471, 72, 58, 1739]",22353,5982,NaN,NaN,NaN,NaN,NaN,NaN,5
56059,30,129679987,"[1, 122, 165, 39, 18497, 135, 33, 56055]","[51, 18184, 4634, 20894, 72, 14849, 6265, 84]",2532,177,NaN,NaN,NaN,NaN,NaN,NaN,8
56062,30,18172093,"[39, 18503, 34840, 1, 9, 38924, 14894, 33, 83]","[18471, 84, 122, 72, 56056, 14849, 34801, 1818...",1701,86,NaN,NaN,NaN,NaN,NaN,NaN,12
56442,30,19674339,"[9, 72, 56062, 1739, 41477, 34840, 88, 79, 7, ...",[],2360,132,NaN,NaN,NaN,NaN,NaN,NaN,0
57823,30,35041070,"[57805, 57814, 57859, 57807, 57841, 57854, 578...","[36875, 57801, 57852, 57795, 57861, 51, 57879,...",764,566,NaN,NaN,NaN,NaN,NaN,NaN,31
57841,30,37292105,"[3, 36875]","[57805, 4151, 4159, 26075, 81, 4218, 40565, 39...",380,178,NaN,NaN,NaN,NaN,NaN,NaN,28
57857,30,39592331,"[57817, 57860, 40565, 57875, 57834, 3, 57838, ...","[57798, 57845, 50263, 57806, 57816, 1739, 1, 8...",989,343,NaN,NaN,NaN,NaN,NaN,NaN,21
62013,30,212739401,"[3, 21692, 21688, 21682]",[],628,236,NaN,NaN,NaN,NaN,NaN,NaN,0
63555,30,82769625,"[20943, 63562, 110, 20908, 3]","[1739, 27, 63552, 20912, 81, 1, 25350, 63564, ...",830,78,NaN,NaN,NaN,NaN,NaN,NaN,16
63559,30,35308050,"[3, 24783]","[63560, 53711, 338, 1739, 5, 25386, 324, 53662...",740,876,NaN,NaN,NaN,NaN,NaN,NaN,26