In [1]:
#%cd ..

import builtins
builtins.uclresearch_topic = 'GIVENCHY' # 226984 entires
# builtins.uclresearch_topic = 'HAWKING' # 4828104 entries
# builtins.uclresearch_topic = 'NYC'
# builtins.uclresearch_topic = 'FLORIDA'
from configuration import config

import smtplib
import base64
from email.mime.text import MIMEText
from email.header import Header
from email.mime.multipart import MIMEMultipart
from email.mime.image import MIMEImage
from email.utils import COMMASPACE
import numpy as np
import pandas as pd
import pickle
import xgboost as xgb
import os
import os.path
import math
import sys
import csv
import matplotlib.pyplot as plt
from sklearn.externals import joblib
import scipy.integrate as spi
import pylab as pl
import networkx as nx
from tqdm import tqdm
import multiprocessing
from multiprocessing import Pool
from IPython.display import display

('Reading config file from location: '
 '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/configuration/env.properties')
{'calculate': {'analysis': True,
               'network': True,
               'uniquetweets': True,
               'uniqueusers': True},
 'data': {'dates': ['2018-03-11', '2018-03-12', '2018-03-13'],
          'eventname': "Givenchy's Death",
          'phrases': ['givenchy%20death', 'givenchy%20passed%20away'],
          'starttime': 'Mar 12 08:20:00 -0500 2018'},
 'path': {'crawl': {'followers': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/followers',
                    'friends': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/friends'},
          'cwd': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy',
          'ml': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle',
          'networkx': {'all': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/networkx_all.dat',
                       'friends': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/networkx_friends.dat',
                       'potential': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/networkx_potential.dat'},
          'pickle': {'exposed_user_ids_selected': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/exposed_user_ids_selected.dat',
                     'followers': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/followers.dat',
                     'followersneedcrawl': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/followersneedcrawl.dat',
                     'friends': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/friends.dat',
                     'infected_user_ids': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/infected_user_ids.dat',
                     'needcrawl': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/needcrawl.dat',
                     'network': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/network.dat',
                     'tweets': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/tweets.dat',
                     'users': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/pickle/users.dat'},
          'result': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/result',
          'twitter': '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/data/givenchy/twitter'},
 'save_to_file': 'False',
 'timeframe': '1440'}

In [2]:
n_bytes = 2**31
max_bytes = 2**31 - 1

#path = "/home/ec2-user/May/data/givenchy/pickle" 

path = "/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/Data/"

def write_to_pickle(file_path, data):

    bytes_out = pickle.dumps(data)
    with open(file_path, 'wb') as f_out:
        for idx in range(0, n_bytes, max_bytes):
            f_out.write(bytes_out[idx:idx+max_bytes])

def load_pickle(file_path):
    bytes_in = bytearray(0)
    input_size = os.path.getsize(file_path)
    with open(file_path, 'rb') as f_in:
        for _ in range(0, input_size, max_bytes):
            bytes_in += f_in.read(max_bytes)
    return pickle.loads(bytes_in)

def loadModel(self):
    read_file = "data/" + self.model_name + ".dat"
    self.model = joblib.load(read_file)
    return self.model

# Load data

In [3]:
model = joblib.load(path+"/xgb_model_GIVENCHY (2).dat")
unique_users = load_pickle(path+"/80000users_3.pkl")
network = load_pickle(path+"/80000users_3.pkl")
users=load_pickle(path+'/Stanford_features.pkl')
seeds = read_csv(path+'/top_5_avg_neigh_degree_seeds.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/Users/jay/MSC_WSBDA/MSc_Thesis/Msc_project/Data//Stanford_features.pkl'

In [28]:
users.head(5)

,label,UsM_deltaDays,UsM_statusesCount,UsM_followersCount,UsM_favouritesCount,UsM_friendsCount,UsM_listedCount,UsM_normalizedUserStatusesCount,UsM_normalizedUserFollowersCount,UsM_normalizedUserFavouritesCount,...,Stat_average_friendsCount,Stat_average_listedCount,Stat_average_normalizedUserStatusesCount,Stat_average_normalizedUserFollowersCount,Stat_average_normalizedUserFavouritesCount,Stat_average_normalizedUserListedCount,Stat_average_normalizedUserFriendsCount,Stat_max_kOut,Stat_min_kOut,user_id
0,NaN,2679,201,2090,548,46,65,0.075028,0.780142,0.204554,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,214328887
1,NaN,3246,5695,305257,38,181,4929,1.75447,94.041,0.0117067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34428380
2,NaN,3417,5124,11756,31,498,93,1.49956,3.44044,0.00907229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17116707
3,NaN,3266,35499,57992,4449,1482,894,10.8693,17.7563,1.36222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28465635
4,NaN,2359,20720,15033,1968,219,45,8.78338,6.37262,0.834252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,380580781

In [62]:
columns = ['TwM_t0','TwM_tSeed0','TwM_t-1','TwM_tSeed-1','TwM_tCurrent','TwM_time']

print(type(columns))

users.loc[:,columns]

<class 'list'>

      TwM_t0 TwM_tSeed0 TwM_t-1 TwM_tSeed-1 TwM_tCurrent TwM_time
0        NaN        NaN     NaN         NaN          NaN      NaN
1        NaN        NaN     NaN         NaN          NaN      NaN
2        NaN        NaN     NaN         NaN          NaN      NaN
3        NaN        NaN     NaN         NaN          NaN      NaN
4        NaN        NaN     NaN         NaN          NaN      NaN
5        NaN        NaN     NaN         NaN          NaN      NaN
6        NaN        NaN     NaN         NaN          NaN      NaN
7        NaN        NaN     NaN         NaN          NaN      NaN
8        NaN        NaN     NaN         NaN          NaN      NaN
9        NaN        NaN     NaN         NaN          NaN      NaN
10       NaN        NaN     NaN         NaN          NaN      NaN
11       NaN        NaN     NaN         NaN          NaN      NaN
12       NaN        NaN     NaN         NaN          NaN      NaN
13       NaN        NaN     NaN         NaN          NaN      NaN
14       NaN        NaN     NaN         NaN          NaN      NaN
15       NaN        NaN     NaN         NaN          NaN      NaN
16       NaN        NaN     NaN         NaN          NaN      NaN
17       NaN        NaN     NaN         NaN          NaN      NaN
18       NaN        NaN     NaN         NaN          NaN      NaN
19       NaN        NaN     NaN         NaN          NaN      NaN
20       NaN        NaN     NaN         NaN          NaN      NaN
21       NaN        NaN     NaN         NaN          NaN      NaN
22       NaN        NaN     NaN         NaN          NaN      NaN
23       NaN        NaN     NaN         NaN          NaN      NaN
24       NaN        NaN     NaN         NaN          NaN      NaN
25       NaN        NaN     NaN         NaN          NaN      NaN
26       NaN        NaN     NaN         NaN          NaN      NaN
27       NaN        NaN     NaN         NaN          NaN      NaN
28       NaN        NaN     NaN         NaN          NaN      NaN
29       NaN        NaN     NaN         NaN          NaN      NaN
...      ...        ...     ...         ...          ...      ...
69983    NaN        NaN     NaN         NaN          NaN      NaN
69984    NaN        NaN     NaN         NaN          NaN      NaN
69985    NaN        NaN     NaN         NaN          NaN      NaN
69986    NaN        NaN     NaN         NaN          NaN      NaN
69987    NaN        NaN     NaN         NaN          NaN      NaN
69988    NaN        NaN     NaN         NaN          NaN      NaN
69989    NaN        NaN     NaN         NaN          NaN      NaN
69990    NaN        NaN     NaN         NaN          NaN      NaN
69991    NaN        NaN     NaN         NaN          NaN      NaN
69992    NaN        NaN     NaN         NaN          NaN      NaN
69993    NaN        NaN     NaN         NaN          NaN      NaN
69994    NaN        NaN     NaN         NaN          NaN      NaN
69995    NaN        NaN     NaN         NaN          NaN      NaN
69996    NaN        NaN     NaN         NaN          NaN      NaN
69997    NaN        NaN     NaN         NaN          NaN      NaN
69998    NaN        NaN     NaN         NaN          NaN      NaN
69999    NaN        NaN     NaN         NaN          NaN      NaN
70000    NaN        NaN     NaN         NaN          NaN      NaN
70001    NaN        NaN     NaN         NaN          NaN      NaN
70002    NaN        NaN     NaN         NaN          NaN      NaN
70003    NaN        NaN     NaN         NaN          NaN      NaN
70004    NaN        NaN     NaN         NaN          NaN      NaN
70005    NaN        NaN     NaN         NaN          NaN      NaN
70006    NaN        NaN     NaN         NaN          NaN      NaN
70007    NaN        NaN     NaN         NaN          NaN      NaN
70008    NaN        NaN     NaN         NaN          NaN      NaN
70009    NaN        NaN     NaN         NaN          NaN      NaN
70010    NaN        NaN     NaN         NaN          NaN      NaN
70011    NaN        NaN     NaN         NaN          NaN      NaN
70012    NaN        NaN     NaN         NaN          NaN      NaN

[70013 rows x 6 columns]

In [29]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 90 columns):
label                                         0 non-null object
UsM_deltaDays                                 70013 non-null int64
UsM_statusesCount                             70013 non-null int64
UsM_followersCount                            70013 non-null int64
UsM_favouritesCount                           70013 non-null int64
UsM_friendsCount                              70013 non-null int64
UsM_listedCount                               70013 non-null int64
UsM_normalizedUserStatusesCount               70013 non-null object
UsM_normalizedUserFollowersCount              70013 non-null object
UsM_normalizedUserFavouritesCount             70013 non-null object
UsM_normalizedUserListedCount                 70013 non-null object
UsM_normalizedUserFriendsCount                70013 non-null object
UsM_deltaDays0                                0 non-null object
UsM_statusesCount0                            0 non-null object
UsM_followersCount0                           0 non-null object
UsM_favouritesCount0                          0 non-null object
UsM_friendsCount0                             0 non-null object
UsM_listedCount0                              0 non-null object
UsM_normalizedUserStatusesCount0              0 non-null object
UsM_normalizedUserFollowersCount0             0 non-null object
UsM_normalizedUserFavouritesCount0            0 non-null object
UsM_normalizedUserListedCount0                0 non-null object
UsM_normalizedUserFriendsCount0               0 non-null object
UsM_deltaDays-1                               0 non-null object
UsM_statusesCount-1                           0 non-null object
UsM_followersCount-1                          0 non-null object
UsM_favouritesCount-1                         0 non-null object
UsM_friendsCount-1                            0 non-null object
UsM_listedCount-1                             0 non-null object
UsM_normalizedUserStatusesCount-1             0 non-null object
UsM_normalizedUserFollowersCount-1            0 non-null object
UsM_normalizedUserFavouritesCount-1           0 non-null object
UsM_normalizedUserListedCount-1               0 non-null object
UsM_normalizedUserFriendsCount-1              0 non-null object
TwM_t0                                        0 non-null object
TwM_tSeed0                                    0 non-null object
TwM_t-1                                       0 non-null object
TwM_tSeed-1                                   0 non-null object
TwM_tCurrent                                  0 non-null object
TwM_time                                      0 non-null object
Nw_degree                                     70013 non-null int64
Nw_degree0                                    0 non-null object
Nw_inDegree0                                  0 non-null object
Nw_outDegree0                                 0 non-null object
Nw_degree-1                                   0 non-null object
Nw_inDegree-1                                 0 non-null object
Nw_outDegree-1                                0 non-null object
Nw_degreeSeed0                                0 non-null object
Nw_inDegreeSeed0                              0 non-null object
Nw_outDegreeSeed0                             0 non-null object
Nw_degreeSeed-1                               0 non-null object
Nw_inDegreeSeed-1                             0 non-null object
Nw_outDegreeSeed-1                            0 non-null object
SNw_nFriendsInfected                          0 non-null object
SNw_friendsInfectedRatio                      0 non-null object
SNw_generation                                0 non-null object
SNw_generation0                               0 non-null object
SNw_generation-1                              0 non-null object
SNw_timeSinceSeed0                            0 non-null object
SNw_timeSinceSeed-1                           0 non-null object
SNw_totalNodesInfected                        0 non-null object
SNw_nodeInfectedCentrality                    0 non-null object
SNw_totalInDegree                             0 non-null object
SNw_totalOutDegree                            0 non-null object
SNw_inDegreeCentrality                        0 non-null object
SNw_inDegreeCentrality0                       0 non-null object
SNw_inDegreeCentrality-1                      0 non-null object
SNw_outDegreeCentrality                       0 non-null object
SNw_outDegreeCentrality0                      0 non-null object
SNw_outDegreeCentrality-1                     0 non-null object
SNw_inDegreeCentralitySeed0                   0 non-null object
SNw_outDegreeCentralitySeed0                  0 non-null object
SNw_inDegreeCentralitySeed-1                  0 non-null object
SNw_outDegreeCentralitySeed-1                 0 non-null object
Stat_average_kOut                             0 non-null object
Stat_average_t                                0 non-null object
Stat_average_deltaDays                        0 non-null object
Stat_average_statusesCount                    0 non-null object
Stat_average_followersCount                   0 non-null object
Stat_average_favouritesCount                  0 non-null object
Stat_average_friendsCount                     0 non-null object
Stat_average_listedCount                      0 non-null object
Stat_average_normalizedUserStatusesCount      0 non-null object
Stat_average_normalizedUserFollowersCount     0 non-null object
Stat_average_normalizedUserFavouritesCount    0 non-null object
Stat_average_normalizedUserListedCount        0 non-null object
Stat_average_normalizedUserFriendsCount       0 non-null object
Stat_max_kOut                                 0 non-null object
Stat_min_kOut                                 0 non-null object
user_id                                       70013 non-null int64
dtypes: int64(8), object(82)
memory usage: 48.1+ MB

In [30]:
unique_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 15 columns):
created_at                          70013 non-null object
user_favourites_count               70013 non-null int64
followers_count                     70013 non-null int64
friends_count                       70013 non-null int64
user_id                             70013 non-null int64
user_listed_count                   70013 non-null int64
user_statuses_count                 70013 non-null int64
source_candidates                   70013 non-null object
infec_candidates                    70013 non-null object
user_created_days                   70013 non-null int64
normalized_user_statuses_count      70013 non-null float64
normalized_user_followers_count     70013 non-null float64
normalized_user_favourites_count    70013 non-null float64
normalized_user_listed_count        70013 non-null float64
normalized_user_friends_count       70013 non-null float64
dtypes: float64(5), int64(7), object(3)
memory usage: 8.0+ MB

In [31]:
seeds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 3500 to 52236
Data columns (total 14 columns):
user_favourites_count               20 non-null int64
followers_count                     20 non-null int64
friends_count                       20 non-null int64
user_id                             20 non-null int64
user_listed_count                   20 non-null int64
user_statuses_count                 20 non-null int64
source_candidates                   20 non-null object
infec_candidates                    20 non-null object
user_created_days                   20 non-null int64
normalized_user_statuses_count      20 non-null float64
normalized_user_followers_count     20 non-null float64
normalized_user_favourites_count    20 non-null float64
normalized_user_listed_count        20 non-null float64
normalized_user_friends_count       20 non-null float64
dtypes: float64(5), int64(7), object(2)
memory usage: 2.3+ KB

In [16]:
seeds

,user_favourites_count,followers_count,friends_count,user_id,user_listed_count,user_statuses_count,source_candidates,infec_candidates,user_created_days,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count
3500,1597,64,69,383278779,0,3865,"[3391, 3483, 3431]",[],2354,1.641886,0.027188,0.678420,0.000000,0.029312
4900,494,125,214,132998576,1,1945,[],"[1642, 4380, 4382, 4891, 1533]",2889,0.673243,0.043268,0.170993,0.000346,0.074074
1400,7,167,27,103351876,19,259,"[1398, 1404, 1397, 1394, 1396, 1406, 59953, 59...","[1402, 1408, 1409, 1403, 1401, 1413, 59950, 59...",2984,0.086796,0.055965,0.002346,0.006367,0.009048
5950,134,409,588,86361766,17,517,"[5937, 5907, 5928, 5885, 5949, 5982]","[5888, 5923, 5889, 5943, 5971, 5934, 5870, 593...",3055,0.169231,0.133879,0.043863,0.005565,0.192471
5250,20811,630,859,311214131,15,31569,"[5258, 5300, 5292, 5344, 5265, 5251, 5314, 527...","[5318, 5306, 5288, 5280, 5278, 5262, 5382, 526...",2473,12.765467,0.254751,8.415285,0.006066,0.347351
3150,5423,664,101,13967492,40,14298,"[3148, 3155, 3144, 3162, 3140, 3154, 3138, 317...",[],3668,3.898037,0.181025,1.478462,0.010905,0.027535
1750,58,1205,1098,83250127,87,18315,"[127, 1785, 1762, 1754, 1799, 110, 1743, 60, 1...","[1751, 1771, 1765, 58, 72, 1788, 101, 1775, 18...",3068,5.969687,0.392764,0.018905,0.028357,0.357888
6650,3002,1819,613,406884647,38,14931,"[6637, 1234, 6741, 1272, 6660, 1236, 6683, 146...","[6695, 806, 615, 57540, 14607, 47267, 14648, 1...",2318,6.441329,0.784728,1.295082,0.016393,0.264452
3850,705,1978,1758,48939443,44,5919,"[3828, 3838, 3834, 3849, 3829, 3841, 1315, 382...","[3851, 2581, 3846, 620, 1273, 3887, 390, 621, ...",3188,1.856650,0.620452,0.221142,0.013802,0.551443
0,548,2090,46,214328887,65,201,"[105, 62, 147, 148, 42, 124, 32, 10, 96, 18, 1...","[1, 83, 70, 16, 40, 4, 76, 113, 156, 75, 39, 6...",2679,0.075028,0.780142,0.204554,0.024263,0.017171
350,1,2573,145,243273954,15,1587,"[347, 317, 335, 342, 359]","[325, 316, 345, 328, 336, 341, 339, 331, 340, ...",2602,0.609915,0.988855,0.000384,0.005765,0.055726
6300,321,15690,330,208278685,35,44913,"[6290, 6278, 6303, 6291, 6260, 6244]","[6301, 6249, 6250, 6295]",2694,16.671492,5.824053,0.119154,0.012992,0.122494
2800,2,16037,19464,1562971,315,7017,"[2848, 2857, 2737, 2855, 2738, 2735, 2835, 273...","[2760, 2542, 2778, 2754, 2854, 2834, 2733, 279...",4011,1.749439,3.998255,0.000499,0.078534,4.852655
2100,28,24356,30,18131039,877,516,"[2082, 2132, 2083, 2157, 2122, 2153, 2110, 207...","[2120, 2145, 2075, 2116, 2087, 2065, 2056, 213...",3375,0.152889,7.216593,0.008296,0.259852,0.008889
700,203,33672,269,384761809,621,7108,"[684, 753, 735, 682, 695, 677, 696, 699, 675, ...","[701, 742, 759, 765, 698, 721, 754, 693, 766, ...",2352,3.022109,14.316327,0.086310,0.264031,0.114371
1050,437,138508,304,107872957,4405,4418,"[1049, 1135, 1048, 1127, 1095, 1057, 1146, 109...","[1174, 1080]",2970,1.487542,46.635690,0.147138,1.483165,0.102357
4200,653,952866,616,29330577,6798,11945,"[4116, 4115, 4180, 4166, 4224, 4173, 4188, 420...","[4142, 4114, 4199, 4150, 4214]",3262,3.661864,292.110975,0.200184,2.083998,0.188841
4550,206,3171577,873,166767883,7907,20179,"[4434, 4535, 4483, 4439, 4584, 4479, 4524, 887...","[4569, 4449, 4482, 4564]",2798,7.211937,1133.515726,0.073624,2.825947,0.312009
2450,3568,5119016,687,40101400,15885,32015,"[2449, 2494, 2514, 2531, 605, 2550, 2417, 8115...","[2495, 2418, 32428, 32507, 3532, 32454, 32485,...",3224,9.930211,1587.784119,1.106700,4.927109,0.213089
52236,0,0,0,76576753,0,13216,"[52222, 52164, 52166]","[341, 50213, 10031, 336, 50219, 41048, 52165, ...",3093,4.272874,0.000000,0.000000,0.000000,0.000000

In [18]:
unique_users[unique_users.user_id == 383278779 ]

,created_at,user_favourites_count,followers_count,friends_count,user_id,user_listed_count,user_statuses_count,source_candidates,infec_candidates,user_created_days,normalized_user_statuses_count,normalized_user_followers_count,normalized_user_favourites_count,normalized_user_listed_count,normalized_user_friends_count
3500,2011-10-01 15:57:36,1597,64,69,383278779,0,3865,"[3391, 3483, 3431]",[],2354,1.641886,0.027188,0.67842,0.0,0.029312

In [11]:
len(network)

70013

In [4]:
unique_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 14 columns):
user_favourites_count               70013 non-null int64
followers_count                     70013 non-null int64
friends_count                       70013 non-null int64
user_id                             70013 non-null int64
user_listed_count                   70013 non-null int64
user_statuses_count                 70013 non-null int64
source_candidates                   70013 non-null object
infec_candidates                    70013 non-null object
user_created_days                   70013 non-null int64
normalized_user_statuses_count      70013 non-null float64
normalized_user_followers_count     70013 non-null float64
normalized_user_favourites_count    70013 non-null float64
normalized_user_listed_count        70013 non-null float64
normalized_user_friends_count       70013 non-null float64
dtypes: float64(5), int64(7), object(2)
memory usage: 7.5+ MB

In [5]:
# ######## infec_candidates ########
# temp=[]
# infec = [temp for i in range(len(unique_users))]
# unique_users["infec_candidates"]= None
# record_num = int(network.describe().iloc[0,0])

# for i in range(record_num):
#     source_candidates = unique_users.loc[i,'source_candidates']
#     #users.loc[i,"infec_candidates"] = list()
#     for j in range(len(source_candidates)):
#         candidates = source_candidates[j]
#         if infec[candidates] == []:
#             infec[candidates]=[i]
#         else :
#             infec[candidates]+=[i]

# unique_users.loc[:,"infec_candidates"]=infec

# unique_users.head()

# reprocess_data

In [32]:
def reprocess_data(time,origins,infectors,users,unique_users):
        i= int(users[users.user_id.isin([origins])].index.values)
        j= int(users[users.user_id.isin([infectors])].index.values)
        source_candidates = unique_users.loc[j,'source_candidates']
        sources = [x for x in source_candidates if users.loc[x,'TwM_time']<=time]
        sources_time=users[users.index.isin(sources)].sort_values(by=['TwM_time'])
        sources_dataframe = unique_users.loc[sources]
        timeList =  [users.loc[x].TwM_tCurrent - users.loc[x].TwM_time for x in sources]
        degreeList = list(unique_users.loc[k, 'followers_count'] + unique_users.loc[k, 'friends_count']  for k in sources)
    
            
        m=sources_time.index.values[0]
        n=sources_time.index.values[-1]
        
        users.loc[j,'UsM_deltaDays0'] = users.loc[m,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount0'] = users.loc[m,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount0'] = users.loc[m,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount0'] = users.loc[m,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount0']=users.loc[m,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount0']=users.loc[m,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount0']=users.loc[m,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount0']=users.loc[m,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount0']=users.loc[m,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount0']=users.loc[m,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount0']=users.loc[m,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'UsM_deltaDays-1'] = users.loc[n,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount-1'] = users.loc[n,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount-1']=users.loc[n,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount-1']=users.loc[n,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount-1']=users.loc[n,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount-1']=users.loc[n,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount-1']=users.loc[n,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount-1']=users.loc[n,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount-1']=users.loc[n,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount-1']=users.loc[n,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount-1']=users.loc[n,'UsM_normalizedUserFriendsCount']
        
       
        users.loc[j,'TwM_t0'] = users.loc[m].TwM_tCurrent - users.loc[m,'TwM_time']
        users.loc[j,'TwM_tSeed0'] = users.loc[m,'TwM_tSeed0']
        users.loc[j,'TwM_t-1'] = users.loc[m].TwM_tCurrent - users.loc[n,'TwM_time']
        users.loc[j,'TwM_tSeed-1'] = users.loc[n,'TwM_tSeed-1']
        users.loc[j,'TwM_tCurrent'] =  np.ceil(time/30)*30
        
        
        users.loc[j,'Nw_degree0'] = users.loc[m,'Nw_degree']
        users.loc[j,'Nw_degree-1'] = users.loc[n,'Nw_degree']
        users.loc[j,'Nw_inDegree0'] = users.loc[m,'UsM_friendsCount']
        users.loc[j,'Nw_inDegree-1'] = users.loc[n,'UsM_friendsCount']
        users.loc[j,'Nw_outDegree0'] = users.loc[m,'UsM_followersCount']
        users.loc[j,'Nw_outDegree-1'] = users.loc[n,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed0'] = users.loc[m,'Nw_degreeSeed0']
        users.loc[j,'Nw_inDegreeSeed0'] = users.loc[m,'Nw_inDegreeSeed0']
        users.loc[j,'Nw_outDegreeSeed0'] = users.loc[m,'Nw_outDegreeSeed0']
        users.loc[j,'Nw_degreeSeed-1'] = users.loc[n,'Nw_degreeSeed-1']
        users.loc[j,'Nw_inDegreeSeed-1'] = users.loc[n,'Nw_inDegreeSeed-1']
        users.loc[j,'Nw_outDegreeSeed-1'] = users.loc[n,'Nw_outDegreeSeed-1']
        
        
        
        users.loc[j,'SNw_generation0'] = users.loc[m,'SNw_generation']
        users.loc[j,'SNw_generation-1'] = users.loc[n,'SNw_generation']
        users.loc[j,'SNw_timeSinceSeed0'] = users.loc[m,'SNw_timeSinceSeed0']
        users.loc[j,'SNw_timeSinceSeed-1'] = users.loc[n,'SNw_timeSinceSeed-1']
        users.loc[j,'SNw_totalNodesInfected'] = infect_totalNodeInfected(users)
        users.loc[j,'SNw_nodeInfectedCentrality'] = len(sources)/users.loc[j,'SNw_totalNodesInfected']
        users.loc[j,'SNw_totalInDegree'] = infect_totalFriends(users)
        users.loc[j,'SNw_totalOutDegree'] = infect_totalFollowers(users)
        users.loc[j,'SNw_inDegreeCentrality'] = safe_division(in_degree[j], users.loc[j,'SNw_totalInDegree'])
        users.loc[j,'SNw_inDegreeCentrality0'] = users.loc[m,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentrality-1'] = users.loc[n,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality'] = safe_division(out_degree[j], users.loc[j,'SNw_totalOutDegree'])
        users.loc[j,'SNw_outDegreeCentrality0'] = users.loc[m,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality-1'] = users.loc[n,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentralitySeed0'] = users.loc[m,'SNw_inDegreeCentralitySeed0']
        users.loc[j,'SNw_outDegreeCentralitySeed0'] = users.loc[m,'SNw_outDegreeCentralitySeed0']
        users.loc[j,'SNw_inDegreeCentralitySeed-1'] = users.loc[n,'SNw_inDegreeCentralitySeed-1']
        users.loc[j,'SNw_outDegreeCentralitySeed-1'] = users.loc[n,'SNw_outDegreeCentralitySeed-1']


        users.loc[j,'SNw_nFriendsInfected']=len(sources)
        users.loc[j,'SNw_friendsInfectedRatio']=safe_division(len(sources), unique_users.loc[j,'friends_count'])
            
        users.loc[j,'Stat_average_kOut']=round(mean(degreeList), 1)
        users.loc[j,'Stat_average_t']=round(mean(timeList), 1)
        users.loc[j,'Stat_average_deltaDays']=sources_dataframe.user_created_days.mean()
        users.loc[j,'Stat_average_statusesCount']=sources_dataframe.user_statuses_count.mean()
        users.loc[j,'Stat_average_followersCount']=sources_dataframe.followers_count.mean()
        users.loc[j,'Stat_average_favouritesCount']=sources_dataframe.user_favourites_count.mean()
        users.loc[j,'Stat_average_friendsCount']=sources_dataframe.friends_count.mean()
        users.loc[j,'Stat_average_listedCount']=sources_dataframe.user_listed_count.mean()
        users.loc[j,'Stat_average_normalizedUserStatusesCount']=sources_dataframe.normalized_user_statuses_count.mean()
        users.loc[j,'Stat_average_normalizedUserFollowersCount']=sources_dataframe.normalized_user_followers_count.mean()
        users.loc[j,'Stat_average_normalizedUserFavouritesCount']=sources_dataframe.normalized_user_favourites_count.mean()
        users.loc[j,'Stat_average_normalizedUserListedCount']=sources_dataframe.normalized_user_listed_count.mean()
        users.loc[j,'Stat_average_normalizedUserFriendsCount']=sources_dataframe.normalized_user_friends_count.mean()
        if len(degreeList)!=0 :
            users.loc[j,'Stat_max_kOut']=max(degreeList) 
            users.loc[j,'Stat_min_kOut']=min(degreeList) 
        else:
            users.loc[j,'Stat_max_kOut']=''
            users.loc[j,'Stat_min_kOut']=''
#         temp = users[users.index.isin(['j'])]
        return users

In [33]:
# intervals = [60, 30, 15, 7]
intervals = [30]

# Helper function for mean value calculation
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)

def safe_division(x, y):
    if y == 0:
        return 0
    else:
        return x/y
    
# infectedNetworkStats = {}
# for interval in intervals:
#     statsDictionary = {}
#     for timestamp in range(0, 24*60+1, interval):
#         infected_dataframe = unique_users[unique_users.time_lapsed <= timestamp]
#         statsDictionary[timestamp] = {}
#         statsDictionary[timestamp]['totalNodeInfected'] = infected_dataframe.shape[0]
#         statsDictionary[timestamp]['totalFollowers'] = sum(infected_dataframe.followers_count)
#         statsDictionary[timestamp]['totalFriends'] = sum(infected_dataframe.friends_count)
#     infectedNetworkStats[interval] = statsDictionary

def infect_totalNodeInfected(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = infected_dataframe.shape[0]
    return states

def infect_totalFollowers(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = sum(infected_dataframe.UsM_followersCount)
    return states

def infect_totalFriends(users):
    infected_dataframe = users[users.TwM_time>=0]
    states = sum(infected_dataframe.UsM_friendsCount)
    return states

in_degree = list(unique_users.friends_count)
out_degree = list(unique_users.followers_count)
degree = [sum(x) for x in zip(in_degree, out_degree)]

In [34]:
network_simulation = pd.DataFrame(columns=["t_current","user_id","source_candidates","infec_candidates",
                                           "followers_count","friends_count","source_id","seed_user_id",
                                           "SIR","generations","time_lapsed","time_since_seed"])
# network_simulation["user"] =unique_users["user"]
network_simulation["user_id"] = unique_users["user_id"]
network_simulation["source_candidates"] = unique_users["source_candidates"]
network_simulation["infec_candidates"] = unique_users["infec_candidates"]
network_simulation["followers_count"] = unique_users["followers_count"]
network_simulation["friends_count"] = unique_users["friends_count"]
#network_simulation.head()
# network_simualtion = load_pickle(path+'/Stanford_network_simulation_0.6.pkl')

In [35]:

infeclen =[len(x) for x in network_simulation['infec_candidates']]
network_simulation['infeclen']=infeclen
network_simulation

,t_current,user_id,source_candidates,infec_candidates,followers_count,friends_count,source_id,seed_user_id,SIR,generations,time_lapsed,time_since_seed,infeclen
0,NaN,214328887,"[105, 62, 147, 148, 42, 124, 32, 10, 96, 18, 1...","[1, 83, 70, 16, 40, 4, 76, 113, 156, 75, 39, 6...",2090,46,NaN,NaN,NaN,NaN,NaN,NaN,147
1,NaN,34428380,"[0, 12, 11, 110, 33, 118, 167, 78, 18, 74, 90,...","[51, 34, 93, 9, 58, 72, 135, 149, 1801, 2947, ...",305257,181,NaN,NaN,NaN,NaN,NaN,NaN,33
2,NaN,17116707,"[18, 56, 52, 111, 153, 97, 38, 35, 31, 169, 20...","[3, 82, 125, 113, 39, 62, 116, 70, 124, 58, 14...",11756,498,NaN,NaN,NaN,NaN,NaN,NaN,77
3,NaN,28465635,"[2, 111, 36, 158, 83, 118, 179, 148, 65, 130, ...","[161, 38, 86, 76, 12, 84, 72, 141, 100, 8, 53,...",57992,1482,NaN,NaN,NaN,NaN,NaN,NaN,91
4,NaN,380580781,"[18, 96, 35, 0, 66, 32, 156, 75, 55, 54, 25, 4...","[5, 87, 51, 140, 33, 22, 72, 58, 47, 10, 83, 6...",15033,219,NaN,NaN,NaN,NaN,NaN,NaN,68
5,NaN,18996905,"[4, 64, 42, 173, 66, 155, 153, 112, 43, 156, 2...","[63, 129, 9, 1, 72, 4170, 14875, 18521, 14885,...",284075,68,NaN,NaN,NaN,NaN,NaN,NaN,32
6,NaN,221036078,"[148, 8, 83, 68, 46, 0, 124, 113, 116, 33, 31,...","[7, 72, 52, 81, 118, 114, 56, 86, 37, 53, 41, ...",2121,206,NaN,NaN,NaN,NaN,NaN,NaN,67
7,NaN,153460275,"[6, 115, 31, 23, 82, 62, 44, 18, 20, 173, 14, ...","[84, 75, 72, 1, 10, 125, 9, 5, 18471, 18503, 1...",4710,35,NaN,NaN,NaN,NaN,NaN,NaN,13
8,NaN,107830991,"[10, 61, 35, 28, 41, 56, 52, 3, 49, 113, 69, 9...","[9, 58, 20, 77, 54, 6, 31, 43, 165, 21, 153, 3...",11627,934,NaN,NaN,NaN,NaN,NaN,NaN,106
9,NaN,17868918,"[8, 87, 123, 20, 37, 16, 66, 95, 80, 111, 69, ...","[51, 39, 81, 93, 58, 122, 72, 144, 4159, 4170,...",16996,552,NaN,NaN,NaN,NaN,NaN,NaN,103
10,NaN,151338729,"[28, 50, 54, 112, 36, 20, 73, 71, 173, 69, 18,...","[11, 22, 63, 8, 35, 94, 33, 58, 83, 149, 23, 2...",41712,198,NaN,NaN,NaN,NaN,NaN,NaN,109
11,NaN,222261763,"[10, 84, 75, 23, 31, 137, 2, 74, 20, 105, 88, ...","[13, 27, 51, 42, 118, 1, 58, 127, 59, 129, 147...",5399,512,NaN,NaN,NaN,NaN,NaN,NaN,149
12,NaN,19705747,"[159, 62, 3, 61, 82, 87, 193, 146, 33, 165, 80...","[1, 51, 84, 58, 72, 4112, 16960, 4219, 22771, ...",669869,600,NaN,NaN,NaN,NaN,NaN,NaN,59
13,NaN,88323281,"[11, 24, 32, 154, 20, 135, 174, 97, 73, 108, 3...","[130, 139, 62, 1, 44, 57, 138, 86, 131, 120, 1...",20883,834,NaN,NaN,NaN,NaN,NaN,NaN,171
14,NaN,19933035,"[61, 36, 137, 31, 20, 52, 95, 18495, 18444, 17...","[15, 125, 81, 37, 33, 13, 3, 39, 9, 84, 115, 2...",652,120,NaN,NaN,NaN,NaN,NaN,NaN,41
15,NaN,149538028,"[14, 86, 49, 112, 61, 47, 41, 102, 70, 123, 0,...","[18, 21, 56, 62, 94, 16, 42, 58, 43, 96, 35, 5...",17797,255,NaN,NaN,NaN,NaN,NaN,NaN,151
16,NaN,158419434,"[83, 107, 0, 146, 42, 15, 37, 41, 62, 25, 10, ...","[17, 30, 70, 125, 9, 24, 73, 122, 59, 58, 180,...",14488,3531,NaN,NaN,NaN,NaN,NaN,NaN,87
17,NaN,17434613,"[16, 78, 131, 42, 109, 133, 110, 147, 45, 30, ...","[72, 132, 58, 92, 51, 74, 1, 84, 9806, 17025, ...",57400,212,NaN,NaN,NaN,NaN,NaN,NaN,13
18,NaN,153226312,"[15, 19, 60, 117, 74, 47, 53, 43, 135, 49, 8, ...","[22, 2, 4, 59, 34, 25, 118, 79, 123, 146, 112,...",13085,28,NaN,NaN,NaN,NaN,NaN,NaN,274
19,NaN,364971269,"[42, 109, 110, 158, 95, 4149, 18907, 4133, 184...","[18, 49, 130, 108, 1, 75, 24, 84, 31, 146, 72,...",537,252,NaN,NaN,NaN,NaN,NaN,NaN,38
20,NaN,100581193,"[31, 70, 41, 36, 8, 33, 87, 140, 147, 100, 18,...","[62, 25, 22, 38, 69, 10, 75, 111, 9, 13, 21, 1...",3444,11,NaN,NaN,NaN,NaN,NaN,NaN,239
21,NaN,69592091,"[61, 28, 79, 41, 105, 56, 127, 15, 27, 155, 20...","[88, 76, 165, 96, 73, 51, 23, 32, 86, 66, 125,...",40064,967,NaN,NaN,NaN,NaN,NaN,NaN,96
22,NaN,187773078,"[10, 18, 20, 78, 49, 41, 96, 61, 25, 23, 4, 70...","[122, 44, 47, 58, 51, 42, 37, 127, 33, 94, 27,...",10803,182,NaN,NaN,NaN,NaN,NaN,NaN,57
23,NaN,406628822,"[135, 21, 10, 18, 20, 37, 87, 137, 54, 68, 0, ...","[84, 53, 122, 83, 11, 58, 49, 28, 22, 94, 7, 2...",3616,268,NaN,NaN,NaN,NaN,NaN,NaN,110
24,NaN,460282402,"[138, 16, 108, 31, 42, 19, 85, 4133, 34128, 18...","[13, 73, 72, 100, 58, 84, 3, 5, 27, 135, 170, ...",237,68,NaN,NaN,NaN,NaN,NaN,NaN,19
25,NaN,280935165,"[20, 96, 18, 58, 111, 156, 69, 90, 59, 38, 76,...","[26, 42, 44, 122, 165, 72, 32, 70, 94, 22, 13,...",32706,124,NaN,NaN,NaN,NaN,NaN,NaN,138
26,NaN,437804658,"[25, 68, 124, 88, 76, 77, 18, 41, 100, 165, 32...","[51, 1, 105, 62, 39, 97, 96, 94, 49, 20, 58, 2...",1627,328,NaN,NaN,NaN,NaN,NaN,NaN,61
27,NaN,27633075,"[11, 88, 136, 96, 53, 42, 154, 130, 10, 23, 33...","[21, 39, 125, 94, 149, 5, 51, 84, 1, 58, 9, 93...",29557,233,NaN,NaN,NaN,NaN,NaN,NaN,21
28,NaN,285312927,"[23, 41, 135, 165, 68, 123, 105, 111, 147, 14,...","[10, 21, 8, 39, 88, 51, 5, 69, 94, 29, 81, 62,...",3700,59,NaN,NaN,NaN,NaN,NaN,NaN,41
29,NaN,131613362,"[49, 88, 66, 54, 114, 173, 20, 58, 84, 28, 55,...","[68, 122, 32, 51, 77, 140, 56, 53, 75, 81, 148...",11273,134,NaN,NaN,NaN,NaN,NaN,NaN,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69983,NaN,165153568,[35068],"[18900, 58, 69991, 1, 84, 72]",281,719,NaN,NaN,NaN,NaN,NaN,NaN,6
69984,NaN,59953940,[],"[18900, 58, 16960, 84, 69995, 16951]",445,273,NaN,NaN,NaN,NaN,NaN,NaN,6
69985,NaN,56222976,[],"[16951, 16960, 69995, 69982, 30281, 35068, 116...",163,280,NaN,NaN,NaN,NaN,NaN,NaN,8
69986,NaN,162157731,[70004],"[69982, 70006, 69987]",355,172,NaN,NaN,NaN,NaN,NaN,NaN,3
69987,NaN,152011250,"[69986, 70004]","[69988, 11609, 18900, 41049, 69982, 30281]",193,7,NaN,NaN,NaN,NaN,NaN,NaN,6
69988,NaN,134894667,[69987],[],121,220,NaN,NaN,NaN,NaN,NaN,NaN,0
69989,NaN,28016093,[],"[338, 16960, 69995, 58, 16985, 18900, 16951]",997,288,NaN,NaN,NaN,NaN,NaN,NaN,7
69990,NaN,137772184,[],"[30281, 338, 58, 1, 96, 4159, 84, 72, 11609, 8...",1353,178,NaN,NaN,NaN,NaN,NaN,NaN,12
69991,NaN,336218834,[69983],"[1, 84, 81, 69982, 35068, 18900, 4112, 58, 415...",202,199,NaN,NaN,NaN,NaN,NaN,NaN,12
69992,NaN,146229554,[],"[17309, 70009, 69997]",1709,234,NaN,NaN,NaN,NaN,NaN,NaN,3
69993,NaN,240895600,[],"[70001, 69997, 37887, 17309]",527,194,NaN,NaN,NaN,NaN,NaN,NaN,4
69994,NaN,49037471,[],"[69995, 16989, 16960, 16951]",175,94,NaN,NaN,NaN,NaN,NaN,NaN,4
69995,NaN,179167773,"[69994, 16989, 69985, 69989, 69984]","[16960, 16951, 16985]",713,543,NaN,NaN,NaN,NaN,NaN,NaN,3
69996,NaN,250733287,[],"[69997, 18900, 67288]",184,271,NaN,NaN,NaN,NaN,NaN,NaN,3
69997,NaN,281765007,"[69996, 69993, 70009, 70003, 69992]","[17309, 70001]",18654,152,NaN,NaN,NaN,NaN,NaN,NaN,2
69998,NaN,150319193,"[69985, 69982]","[30281, 35068, 11609, 18900]",2447,378,NaN,NaN,NaN,NaN,NaN,NaN,4
69999,NaN,218640513,"[69982, 70004]","[17309, 70006, 16960]",734,384,NaN,NaN,NaN,NaN,NaN,NaN,3
70000,NaN,61497784,[],"[84, 58, 70005, 72, 30281, 69981, 18900, 67288...",845,1011,NaN,NaN,NaN,NaN,NaN,NaN,10
70001,NaN,63135128,"[69981, 69993, 48381, 70002, 69997]",[67288],320353,1444,NaN,NaN,NaN,NaN,NaN,NaN,1
70002,NaN,206918348,[],"[338, 72, 70001, 69981]",103,191,NaN,NaN,NaN,NaN,NaN,NaN,4
70003,NaN,93641182,[35068],"[16989, 18900, 37887, 17309, 70008, 69997]",359,680,NaN,NaN,NaN,NaN,NaN,NaN,6
70004,NaN,53811382,[],"[69986, 69982, 70006, 69987, 41049, 69999, 70012]",454,361,NaN,NaN,NaN,NaN,NaN,NaN,7
70005,NaN,48108211,[70000],[],319075,308,NaN,NaN,NaN,NaN,NaN,NaN,0
70006,NaN,362077620,"[69986, 69999, 70004]","[67288, 69982, 4112, 16960, 84, 58, 1, 72, 17309]",453,104,NaN,NaN,NaN,NaN,NaN,NaN,9
70007,NaN,165498547,[],"[16960, 35068]",346,50,NaN,NaN,NaN,NaN,NaN,NaN,2
70008,NaN,253509115,"[70003, 57826]",[18900],1028,571,NaN,NaN,NaN,NaN,NaN,NaN,1
70009,NaN,63784655,[69992],"[17309, 69997, 18900]",427,336,NaN,NaN,NaN,NaN,NaN,NaN,3
70010,NaN,63503127,[],"[72, 18900, 1, 84, 58]",432,106,NaN,NaN,NaN,NaN,NaN,NaN,5
70011,NaN,75829996,[69991],"[84, 69982, 18900]",448,479,NaN,NaN,NaN,NaN,NaN,NaN,3
70012,NaN,148563360,[70004],[],161,59,NaN,NaN,NaN,NaN,NaN,NaN,0

In [36]:
##situation choose:
##a.全部为0   b.从0开始由小到大    c.从0开始由大到小


def seed_chosen():
    index_empty=[]
    for x in range(len(network_simulation)):
        if   math.isnan(network_simulation.loc[x,'generations'])==True :
            if network_simulation.loc[x,'infeclen']<150:
                index_empty.append(x)
    seeds_potential = network_simulation[network_simulation.index.isin(index_empty)]
#     print(seeds_potential)
    seeds_potential  = seeds_potential.sort_values(by='infeclen',ascending=False)
    seeds= seeds_potential.iloc[0:5]
#     print(seeds)
    return seeds

# infeclen =[len(x) for x in seeds['infec_candidates']]
# seeds['infeclen']=infeclen

# seeds = seeds.sort_values(by='infeclen',ascending=False)
# seeds = seeds.iloc[0:5]
# seeds['time_lapsed']=0
# seeds

In [40]:
index_empty=[]
for x in range(len(network_simulation)):
    if   math.isnan(network_simulation.loc[x,'generations'])==True :
        if network_simulation.loc[x,'infeclen']<150:
            index_empty.append(x)

In [48]:
len(seeds)

20

In [41]:
len(index_empty)

69748

In [44]:
l = list(network_simulation.index)
max(l)

70012

In [46]:
len(network_simulation[network_simulation.index.isin(index_empty)])

69748

In [37]:
len(network_simulation)

70013

In [49]:
seeds1 = seed_chosen()

5

In [50]:
seeds1

,t_current,user_id,source_candidates,infec_candidates,followers_count,friends_count,source_id,seed_user_id,SIR,generations,time_lapsed,time_since_seed,infeclen
19078,NaN,24239110,"[16544, 9931, 19079, 19097, 19156, 19110, 1657...","[743, 19129, 3762, 6870, 19134, 19089, 3808, 3...",17718,6709,NaN,NaN,NaN,NaN,NaN,NaN,149
3624,NaN,60620992,"[1581, 3627, 3681, 3674, 699, 3647, 1451, 1588...","[3625, 3633, 1572, 3639, 3641, 3617, 872, 3711...",29472,440,NaN,NaN,NaN,NaN,NaN,NaN,149
14922,NaN,17968886,"[14879, 14872, 14914, 14869, 14858, 14852, 149...","[8283, 14861, 14945, 14860, 14959, 14866, 1493...",304275,42680,NaN,NaN,NaN,NaN,NaN,NaN,149
10816,NaN,95495271,"[10799, 10845, 10805, 10828, 10833, 10846, 107...","[10817, 10824, 10851, 10835, 10808, 10798, 108...",12658,6184,NaN,NaN,NaN,NaN,NaN,NaN,149
19568,NaN,123004655,"[19591, 19582, 14742, 2596, 19577, 19580, 2758...","[19569, 19573, 19561, 19597, 1238, 19560, 1210...",2965,2101,NaN,NaN,NaN,NaN,NaN,NaN,149

In [11]:
### seeds ###
def seeds_setting_simulation(seeds,network_simulation):
    for i in range(len(seeds)):
        index = seeds.index.values
        network_simulation.loc[index,'SIR'] = 1
        network_simulation.loc[index,'generations'] = 0
        network_simulation.loc[index,'source_id'] = seeds.loc[index,'user_id']
        network_simulation.loc[index,'time_lapsed'] = seeds.loc[index,'time_lapsed']
        network_simulation.loc[index,'seed_user_id'] = seeds.loc[index,'user_id']
        network_simulation.loc[index,'time_since_seed'] = 0
    return network_simulation

def seeds_setting_features(seeds,users):
    for i in range(len(seeds)):   
        j = seeds.index.values[i]
#         sources = [x for x in seeds.loc[j,'source_candidates']]
        users.loc[j,'UsM_deltaDays0'] = users.loc[j,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount0'] = users.loc[j,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount0']=users.loc[j,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount0']=users.loc[j,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount0']=users.loc[j,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount0']=users.loc[j,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount0']=users.loc[j,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount0']=users.loc[j,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount0']=users.loc[j,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount0']=users.loc[j,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount0']=users.loc[j,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'UsM_deltaDays-1'] = users.loc[j,'UsM_deltaDays']
        users.loc[j,'UsM_statusesCount-1'] = users.loc[j,'UsM_statusesCount']
        users.loc[j,'UsM_followersCount-1']=users.loc[j,'UsM_followersCount']
        users.loc[j,'UsM_favouritesCount-1']=users.loc[j,'UsM_favouritesCount']
        users.loc[j,'UsM_friendsCount-1']=users.loc[j,'UsM_friendsCount']
        users.loc[j,'UsM_listedCount-1']=users.loc[j,'UsM_listedCount']
        users.loc[j,'UsM_normalizedUserStatusesCount-1']=users.loc[j,'UsM_normalizedUserStatusesCount']
        users.loc[j,'UsM_normalizedUserFollowersCount-1']=users.loc[j,'UsM_normalizedUserFollowersCount']
        users.loc[j,'UsM_normalizedUserFavouritesCount-1']=users.loc[j,'UsM_normalizedUserFavouritesCount']
        users.loc[j,'UsM_normalizedUserListedCount-1']=users.loc[j,'UsM_normalizedUserListedCount']
        users.loc[j,'UsM_normalizedUserFriendsCount-1']=users.loc[j,'UsM_normalizedUserFriendsCount']
        
        users.loc[j,'TwM_t0'] =seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_t-1'] =seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_tCurrent'] = np.ceil(seeds.loc[j,'time_lapsed']+0.001/30)*30   
        users.loc[j,'TwM_tSeed0'] = seeds.loc[j,'time_lapsed']                         
        users.loc[j,'TwM_tSeed-1'] = seeds.loc[j,'time_lapsed']
        users.loc[j,'TwM_time'] = seeds.loc[j,'time_lapsed']

        users.loc[j,'Nw_degree0'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_degree-1'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_inDegree0'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_inDegree-1'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_outDegree0'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_outDegree-1'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed0'] = users.loc[j,'Nw_degree']    
        users.loc[j,'Nw_inDegreeSeed0'] = users.loc[j,'UsM_friendsCount'] 
        users.loc[j,'Nw_outDegreeSeed0'] = users.loc[j,'UsM_followersCount']
        users.loc[j,'Nw_degreeSeed-1'] = users.loc[j,'Nw_degree']
        users.loc[j,'Nw_inDegreeSeed-1'] = users.loc[j,'UsM_friendsCount']
        users.loc[j,'Nw_outDegreeSeed-1'] = users.loc[j,'UsM_followersCount']
        
        users.loc[j,'SNw_generation0'] = 0
        users.loc[j,'SNw_generation-1'] = 0
        users.loc[j,'SNw_generation'] = 0
        users.loc[j,'SNw_totalNodesInfected'] = infect_totalNodeInfected(users)
#         users.loc[j,'SNw_nodeInfectedCentrality'] = len(sources)/users.loc[j,'SNw_totalNodesInfected']
        users.loc[j,'SNw_totalInDegree'] = infect_totalFriends(users)
        users.loc[j,'SNw_totalOutDegree'] = infect_totalFollowers(users)
        users.loc[j,'SNw_inDegreeCentrality'] = safe_division(in_degree[j], users.loc[j,'SNw_totalInDegree'])
        users.loc[j,'SNw_inDegreeCentrality0'] = users.loc[j,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentrality-1'] = users.loc[j,'SNw_inDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality'] = safe_division(out_degree[j], users.loc[j,'SNw_totalOutDegree'])
        users.loc[j,'SNw_outDegreeCentrality0'] = users.loc[j,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_outDegreeCentrality-1'] = users.loc[j,'SNw_outDegreeCentrality']
        users.loc[j,'SNw_inDegreeCentralitySeed0'] = users.loc[j,'SNw_inDegreeCentrality']               
        users.loc[j,'SNw_outDegreeCentralitySeed0'] = users.loc[j,'SNw_outDegreeCentrality']                
        users.loc[j,'SNw_inDegreeCentralitySeed-1'] = users.loc[j,'SNw_inDegreeCentrality']                  
        users.loc[j,'SNw_outDegreeCentralitySeed-1'] = users.loc[j,'SNw_outDegreeCentrality']
    return users

In [12]:
# seeds_setting_simulation(seeds,network_simulation)
# seeds_setting_features(seeds,users)

In [13]:
network_simulation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70013 entries, 0 to 70012
Data columns (total 13 columns):
t_current            0 non-null object
user_id              70013 non-null int64
source_candidates    70013 non-null object
infec_candidates     70013 non-null object
followers_count      70013 non-null int64
friends_count        70013 non-null int64
source_id            0 non-null object
seed_user_id         0 non-null object
SIR                  0 non-null object
generations          0 non-null object
time_lapsed          0 non-null object
time_since_seed      0 non-null object
infeclen             70013 non-null int64
dtypes: int64(4), object(9)
memory usage: 6.9+ MB

In [14]:

def simulation(t,unique_users,network_simulation):
    for i in range(len(unique_users)):
        if np.isnan(network_simulation.loc[i,"time_lapsed"]) == False : #meaning they are seed
            if round(network_simulation.loc[i,"time_lapsed"]) <= t:
                infec_candidates=network_simulation.loc[i,"infec_candidates"]

                for j in range(len(infec_candidates)):
                    infector = network_simulation.loc[i,"infec_candidates"][j]

                    if network_simulation.loc[infector,'SIR']!=1 :
                        user_id1 = network_simulation.loc[i,'user_id']
                        user_id2 = network_simulation.loc[infector,'user_id']
                        processed_user=reprocess_data(t+1,user_id1,user_id2,users,unique_users)

                        valid = processed_user[processed_user.index.isin([infector])]
#                             print(valid['Stat_average_t'])
                        valid = valid.drop(['label','user_id','SNw_generation','TwM_time'],axis=1)

                        valid = valid.astype('float64')

                        columns = list(valid.columns)
                        X = valid[columns]
                        pre_data = xgb.DMatrix(X)
                        infec = model.predict(pre_data)
                        #print(infec)
                        if infec>0.6 :
                            users.loc[infector,'TwM_time'] = t
                            network_simulation.loc[infector,"SIR"] = 1
                            network_simulation.loc[infector,"generations"] = network_simulation.loc[i,"generations"]+1
                            network_simulation.loc[infector,"source_id"] = network_simulation.loc[i,"user_id"] 
                            network_simulation.loc[infector,"seed_user_id"] = network_simulation.loc[i,"seed_user_id"] 
                            network_simulation.loc[infector,"time_lapsed"] = t+1
            #             network_simulation.loc[i,"SIR"]=2 
    return unique_users,network_simulation

In [ ]:
##time = 5*60 minutes with resuming, due to releasing memory
seeds_id = list(seeds.index.values)
for t in range(0,6):
    if t < 4 :
        seeds = seed_chosen()
        seeds['time_lapsed'] = t
        seeds_setting_simulation(seeds,network_simulation)
        seeds_setting_features(seeds,users)
        for x in range(len(seeds.index.values)):
            seeds_id.append(seeds.index.values[x])
    temp_data=simulation(t,unique_users,network_simulation)
    unique_users = temp_data[0]
    network_simulation = temp_data[1]
    print(t)
    write_to_pickle(path+'/Stanford_network_simulation_Dynamic.pkl', network_simulation)

0
1
2
3

In [53]:
seeds_id = list(seeds.index.values)

seeds_id

[3500,
 4900,
 1400,
 5950,
 5250,
 3150,
 1750,
 6650,
 3850,
 0,
 350,
 6300,
 2800,
 2100,
 700,
 1050,
 4200,
 4550,
 2450,
 52236]

In [55]:
for x in range(len(seeds.index.values)):
    print(f"x: {x}")
    seeds_id.append(seeds.index.values[x])

x: 0
x: 1
x: 2
x: 3
x: 4
x: 5
x: 6
x: 7
x: 8
x: 9
x: 10
x: 11
x: 12
x: 13
x: 14
x: 15
x: 16
x: 17
x: 18
x: 19

In [56]:
seeds_id

[3500,
 4900,
 1400,
 5950,
 5250,
 3150,
 1750,
 6650,
 3850,
 0,
 350,
 6300,
 2800,
 2100,
 700,
 1050,
 4200,
 4550,
 2450,
 52236,
 3500,
 4900,
 1400,
 5950,
 5250,
 3150,
 1750,
 6650,
 3850,
 0,
 350,
 6300,
 2800,
 2100,
 700,
 1050,
 4200,
 4550,
 2450,
 52236]

In [51]:
seeds.index.values

array([ 3500,  4900,  1400,  5950,  5250,  3150,  1750,  6650,  3850,
           0,   350,  6300,  2800,  2100,   700,  1050,  4200,  4550,
        2450, 52236])

In [ ]:
network_simulation["t_current"]=users["TwM_tCurrent"]
# network_simulation

In [ ]:
# network_simulation[network_simulation.generations.isin([0])]
x=[0,1,2,3,4,5,6,7,8]
network_simulation[network_simulation.generations.isin(x)]

# network_simulation.info()

In [ ]:
# write_to_pickle(path+'/Stanford_network_simulation_eigencentrality_5.pkl', network_simulation)

In [ ]:
# network_simulation